[2014-07-15 17:03] danielbodnar opened #1 "submit() never fires if any element is missing validation attributes"
validateElement() returns an undefined (on line 46 of validationManager.js) if element doesn't have any validation attributes on it (e.g.: required, min-length, etc).

Fix is to apply a default value to isValid on line 18.

[2014-07-16 15:58] #1 closed, assigned to nobody

[2014-07-17 09:36] jgoux opened #3 "Enable i18n"
Hello,
firstly, thanks for this great lib !
Would it be possible to extract the errorMessages object (https://github.com/jonsamwell/angular-auto-validate/blob/master/src/services/defaultErrorMessageResolver.js#L20) to be able to translate it easily, as a separate file from the dist ? Then we could be able to load the right langage at the app initialization or by including the right file.
Example :

[2014-07-17 12:18] jgoux opened #4 "Use help-block class instead of help-text"
Hi,
is there a reason why you chose to use the "help-text" class in the bootstrap3ElementModifier ? If you use the "help-block" class instead, your message will be stylized by the "has-error" class applied on the formGroup element.
I'll hapilly make some PR if you want to.

[2014-07-17 12:28] jgoux opened #5 "Insert after the element instead of appending in the formGroup element"
I had a problem with the help-text being appended to the form-group element.
As I'm using this particular template :

[code]

The "help-text" element was not aligned with my input (in the .col-lg-10 div).
It would be great to define an insertAfter function to be able to insert the elements directly after the input :

[code]

And then :

[code]

[2014-07-17 13:04] #4 closed, assigned to nobody

[2014-07-20 09:05] #5 closed, assigned to nobody

[2014-07-24 12:55] bestconsultant opened #7 "Two clicks on submit button are required to fire ng-submit function"
There is one scenario where the user might experience a lack of immediate response. Here's a plunker to illustrate the case : http://plnkr.co/edit/8l73MfOfGENwymnPOVGv?p=preview Try the following : write an invalid value in the username (e.g. 'a') click inside the password, the error message appears below the first input. Now write a valid value (e.g. 'aaaa') for the password. If you now click on

[2014-07-25 08:53] jgoux opened #8 "setCulture fails for some langages (typo)"
I couldn't load the french translation because of a small typo :
`jcs-auto-validate_fr-fr.json` should be named `jcs-auto-validate_fr-FR.json`,
maybe it's the same for `jcs-auto-validate_en-us.json` to `jcs-auto-validate_en-US.json`

[2014-07-25 08:58] bestconsultant opened #9 "Validation format bug with bootstrap form-inline"
Another small bug with the format. Here's a plunker : http://plnkr.co/edit/81EhrtkbBKLwOktNutqx?p=preview
You will need to view this in full screen since it's an inline form. When the format is valid the input's width is increased, and when it's invalid the X is placed on the bottom right.
I will take a look at bootstrap3ElementModifier.js in the src to find out what is happening.

[2014-07-25 09:05] #8 closed, assigned to nobody

[2014-07-25 10:35] jgoux opened #10 "Optional styling for bootstrap3ElementModifier"
I think we should add an option to enable/disable styling on the modifier.
In my case, I don't want the valid inputs to turn green when I submit. I just want to see the error styling.

What do you think about something like this : https://gist.github.com/jgoux/82f2450dcda9eb012421
Then :

[code]

[2014-07-27 18:10] jgoux opened #11 "Reset a form"
Hey Jon, it's me again. :P
I made a tiny directive to reset a form :

[code]

You can use it just like that :

[code]

Where vm.form is an object containing all my ng-model in the form. It's working great but when all the inputs are reinitialized, the auto-validate library triggers and put some inputs with an error state. Is it possible to neutralize this behaviour or integrate this reset feature

[2014-07-28 08:59] #11 closed, assigned to jonsamwell

[2014-07-28 13:56] jgoux opened #12 "Javascript error when I leave a page containing a form"
Since I updated to the lastest version, I have an error trigerred each time I leave a page containing a form.
To be sure I removed your library from my project and the error didn't trigger.
Here is the error :

[code]

I know it's not very explicit, but I'm pretty sure it's when the scope is destroyed, as it triggers only when I switch between my views.

[2014-07-28 14:10] #12 closed, assigned to nobody

[2014-07-28 19:07] #10 closed, assigned to jonsamwell

[2014-08-01 09:47] #9 closed, assigned to nobody

[2014-08-01 11:44] bestconsultant opened #13 "$setPristine() not working"
I'v tried to reset of an input after clicking on a button. But the glyphicon-ok and the has-feedback class stays even if I'm using the $setPristine method.

Here's a plunker to illustrate : http://plnkr.co/edit/Sa9YZDofPEYIkpNDt31I?p=preview

Here's another with a simple case where it works
http://plnkr.co/edit/815Bml?p=preview

Is this something that can be fixed in your code?

[2014-08-01 13:33] bestconsultant opened #14 "Writing in an input, erasing the content and blurring is empty but validated"
The search for special behaviours continues!

Let's have a look at this case : an input without 'required' attribute. If you write something inside the input, immediately erase it and click outside, the input is empty but the validation state is valid. In my opinion it's would be better to return to the a reset status.

Here's a plunker (test with the username input) :
http://plnkr.co/edit/jHDjEpy

[2014-08-02 08:46] #13 closed, assigned to nobody

[2014-08-02 21:59] #14 closed, assigned to nobody

[2014-08-04 20:36] atxpace opened #15 "Overriding messages"
Love the work you're doing with this...

I would love to override the 'pattern' message as it's not that user-friendly. I can't expect my users to understand the constraints of a regex! :)

Anyways, I have not been successful doing this as per the docs here. Could you please provide a pointer or a little help getting this working? I assume the custom error message resolver is the way to go? Is thi

[2014-08-04 21:21] #15 closed, assigned to nobody

[2014-09-26 14:02] brianchance opened #16 "Opt in directive"
First off, think the library is awesome, just what I was looking for with error message handling.

Anyway to provide an opt-in directive instead of automatically handling all ng-submit and ng-model directives? Something like "auto-validate" on the form that handles the submit method and attaches the behavior to all input elements.

Not sure if I can articulate why, seems better to declare what I a

[2014-10-07 18:00] sarg3nt opened #17 "How to implement required if"
I'm trying to figure out how to implement a required if type of scenario.  For example I have a set of radio buttons and if one is checked then I show some more form elements all of which should be required if that radio button is checked but not required if it is not.
Ideally, the plugin should automatically skip validation on hidden elements, but that's not happening.

I'm thinking I'll need to

[2014-10-07 18:31] #17 closed, assigned to nobody

[2014-10-08 16:07] sarg3nt opened #18 "Help with custom validattor"
Good morning.  I'm trying to write a custom phone validator that calls a web API that uses Google's phones library to validate the phone number.
I've got the back end working fine but am having issues with the directive.
What I have so far is based on the code in the demo.  Here it is
    app.directive('validatephone', ['ValidatePhoneService',
    function (ValidatePhoneService) {
        return {

[2014-10-13 16:58] Muenchen-Michi opened #19 "error "link is undefined" with Angular 1.3.0"
Hi,

I'm coding my first angular-app right now a found your module to validate my forms. Really great.
But since I switched to angular 1.3.0 I'll get an error "link is undefined" on line 1022. Until now, everything seems to work. So for myself I could just comment out the lines 1022-1025. But that's no real solution.

So maybe you'll find a solution for this.

[2014-10-16 08:18] #19 closed, assigned to nobody

[2014-11-13 14:24] Morhpeuss opened #21 "Localization problem"
Hi,

I use a localization service ( https://github.com/lavinjj/angularjs-localizationservice ) . This solution allows to translate the element attributes . I have a login form , which translate placeholders . In this case, validation behaves abnormally. Click in login textbox , then into a password textbox and login textbox back  and i see an error message . When Idelete a placeholders , then the

[2014-11-13 15:25] #21 closed, assigned to nobody

[2014-11-13 23:16] blakbarn opened #22 "Validate subform only"
Is there any way to validate a single element or all elements in a subform? I would like to show the errors using bootstrap styling when the subform is submitted.

[2014-11-18 11:14] cozyazure opened #23 "Include tooltip directive in jcs-autovalidate"
In the <code>myCustomElementModifier</code> factory, the factory allows me to add in classes to the input element that is being validated. However, is there a way that I can add in attribute such as <code>tooltip</code> from angular bootstrap?

For example, with the following code:

<pre>
app.factory('myCustomElementModifier', [
        function () {
            var /**
             makeValid = fu

[2014-11-24 15:55] #23 closed, assigned to nobody

[2014-11-24 15:55] #7 closed, assigned to jonsamwell

[2014-11-24 15:56] #18 closed, assigned to nobody

[2014-12-02 22:29] abobwhite opened #25 "Submitting invalid form causes has-error to be set at form level"
When submitting a form, auto-validate goes ahead and runs through the validations for the whole form (great!), however, it appears to be setting the `has-error` class to the form element (when using bootstrap) which causes fields that are **not** invalid to be shown in the has-error red, incorrectly. When I use chrome to remove the has-error class from the form element, only the form elements that

[2014-12-02 22:33] abobwhite opened #26 "Submit should have ability to validate entire form in addition to ng-submit-force"
When a user clicks the submit button in a form, the paradigm I am following will present a growl message to the user indicating to correct the form errors, jump to the top-most error, etc. I also need those errors to be indicated. Right now, it appears this module has the ability to do one or the other, not both. Could we add some sort of addition ng-submit-\* option so that the validation still o

[2014-12-04 10:50] #26 closed, assigned to nobody

[2014-12-06 09:47] #25 closed, assigned to jonsamwell

[2014-12-06 09:48] #22 closed, assigned to nobody

[2014-12-11 14:21] michaelryancaputo opened #28 "Display validation of groups contained within surrounding element"
Hi there, really loving this module. It works great.

I have a feature request. I'm building a form that has a number of repeating elements. To keep the page more readable, i've nested some of the repeating form elements in an accordion panel. This obviously creates issues with the input boxes when they are closed.

I'm wondering if it is possible to add a directive that can tell if any of the inp

[2014-12-12 18:58] abobwhite opened #29 "Docs say to use setDefaultErrorMessageResolver, but method doesn't exist"
The documentation at http://jonsamwell.github.io/angular-auto-validate/ say to use ```setDefaultErrorMessageResolver``` but there is only ```setErrorMessageResolver```

Also, the docs on how to set it are incomplete: ```validator.setDefaultErrorMessageResolver(myCustomErrorMessageResolver)``` should read: ```validator.setErrorMessageResolver(myCustomErrorMessageResolver.resolve)```

[2014-12-28 06:45] StanislavPrusac opened #30 "TypeError: Cannot read property 'find' of undefined - version "v1.13.22 - 2014-12-06""
Hi, thanks for great AngularJS  module!

All work great at version "v1.13.22 - 2014-12-04" but after change at version "v1.13.22 - 2014-12-06" I got error:
TypeError: Cannot read property 'find' of undefined
Line 288 in version "v1.13.22 - 2014-12-06"
[code]
My HTML code is:

[code]

Thanks.
Stanislav

[2015-01-03 13:59] jonsamwell commented on #30
Sorry for the late reply - I'm doing a bit of travelling at the moment and don't have internet access all that often.  Could you do a reproducing plunker?  First guess is the routine that gets the initial 'el' is not returning for your html.  I'll try and look a bit later.

Jon

[2015-01-03 14:01] jonsamwell commented on #29
Sorry for the late reply I'm doing a bit of travelling at the moment and don't have internet very often.  Thanks for finding this I'll update it.

[2015-01-05 01:06] wrousseau opened #31 "Fetching error messages from the error message resolver in a controller"
Hi !

First of all happy new year and I'd like to say it's an amazing stuff you've got right there !
I'm kinda new to Angular but I'm hoping what I'm asking will not be trivial or not too stupid...

Is there a way I can fetch the errorMsg which was set in a custom error resolver inside the angular controller after submitting the form ? The idea is basically to be able to display an alert popup dis

[2015-01-12 00:23] jonsamwell commented on #31
hmmm, not currently.  I would suggest doing this with a custom dom modifier that basically used the default one (bs3) and surfaced another method to get the list of invalid messages.

http://jonsamwell.github.io/angular-auto-validate/#custom_dom_modifiers

[2015-01-12 00:30] jonsamwell commented on #29
Thanks for this - the docs are now updated!

[2015-01-12 00:30] #29 closed

[2015-01-13 10:36] wrousseau commented on #31
I've figured something out, pretty sure it's not optimal though... I'm basically storing an `errorMsg` in my custom Element Modifier, which returns the first validation error of a given form.
This method is exposed and is made accessible from the controller, and it works even if there are several forms validated in a controller. Here is a gist if someone is interested https://gist.github.com/wrous

[2015-01-13 12:14] jonsamwell commented on #31
Good work - this is exactly what I was thinking.  Testing this would be like testing a normal service.  I would suggest testing this in isolation from the pipeline as it makes for better atomic tests.  However, you are correct the validation is triggered when the val is updated which (if invalid) triggers the message resolver which gives the message to the element modifier.

You can look at how I'

[2015-01-13 12:14] #31 closed

[2015-01-27 22:05] abobwhite opened #32 "register-custom-form-control not validating via debounce due to missing force flag"
Looking at these lines of code:
[code]

```validateElement``` normally takes a 3rd parameter to force validation when the particular element is included via register-custom-form-control. But since ```validateElement``` is being called from this decorator without a check on the particular element to "force", the element validation doesn't get updated correctly. Specifically, I am using the ui-selec

[2015-01-27 22:47] abobwhite commented on #32
A solution to this problem would be to not consider a custom form control as the thing that "forces" validation but rather when ```register-custom-form-control``` is used, somehow add it to ```elementTypesToValidate``` so that it's referred to not as an afterthought...?

[2015-01-27 23:22] abobwhite commented on #32
I have altered my local code and got this working. I do not have the means to build everything in grunt but I can make a pull request in the next couple days that you can review to merge. Also, there could be some discussion on this.

In a nutshell, I add an ```addCustomElementToValidate``` method to ```validationManager``` which adds additional node name strings to ```elementTypesToValidate```. I

[2015-01-30 17:39] abobwhite opened #33 "ErrorMessageResolver uses non "ng-" prefixed attribute as default and can cause conflict with browser defaults (IE9)"
I ran across an issue today where one of my inputs had ```ng-maxlength="100"```. Every time I saw the error message, it would have the value ```2147483647``` instead of ```100```. As it turns out, the code below checks for the attribute matching the errorType by default. maxlength is the browser property that limits the physical amount of characters that can be entered into the field. In IE9, this

[2015-01-31 14:23] jonsamwell commented on #33
This seems like a sensible plan - I'll get the code change in tomorrow.  :-)

[2015-01-31 14:25] jonsamwell commented on #32
Thanks for this - it seems like you have a good handle on the problem!  I'll have a think about this one and get back to you but seems like this is a good solution!  Thanks!

[2015-02-09 21:08] dsargent3220 commented on #18
Hello, my apologies for not getting to this until now.  Got the rest of the project done and am now looping back to this.
I'm not sure where I'm supposed to get access to frmCtrl.  I'm sure I'm being dense here but would love any help you can give.

[2015-02-09 21:19] dsargent3220 commented on #18
To clarify a little further.  I have a directive for the phone number I've created.  Here's the beginning of the definition.
		var directive = {
			scope: {
				label:"@",
				id: "@",
				required:"=?", // Are fields required.
			},
			link: link,
			restrict: 'E',
			require: 'ngModel',
			templateUrl: 'app/rma/directives/selPhoneNumber.html'
		};
		return directive;

		function link(scope, elem

[2015-02-10 15:34] jonsamwell commented on #18
Hmmm, I'll try a create a example to see if something odd is going on.  What is the html of the directive's template? It might not be in the structure the element modifier is expecting so it is missing out putting the error message in.

In the meantime it would be worth putting a debugger; statement here
https://github.com/jonsamwell/angular-auto-validate/blob/master/src/services/defaultErrorMessa

[2015-02-10 17:42] dsargent3220 commented on #18
Here is the full directive:
[code]

Here is the html template
[code]

And here is an example reference of me using it
[code]
Here is the model for the technicalContactPhone property
[code]

The service will return something like the following.
[code]
Let me know if there is anything else I can help with

[2015-02-10 20:53] dsargent3220 commented on #18
I did place a breakpoint on the line you indicated.  It gets hit when the field is empty for the required attribute, but not for the phone validation.

[2015-02-11 17:00] slupekdev commented on #32
or replace
[code]
with
[code]

[2015-02-12 15:53] pjwalmsley commented on #32
I'm running into the same issue.  These both sound like good fixes.  I'm not super familiar with the code but it seems odd that there is a list of input types that drive the validations.  I wonder if long term if there is any better way to track what elements have validations on them.  I suppose other libraries require you to add a directive to each of these elements so perhaps there isn't sat the

[2015-02-12 16:18] abobwhite commented on #32
@slupekdev I completely agree with your comments. And I agree that @pjwalmsley's solution makes more sense. Mine was definitely a hack to get something working immediately.

@jonsamwell What are your thoughts? I think the solution listed above should work and is a simple fix that could be applied immediately.

[2015-02-12 22:45] jonsamwell commented on #32
Hi all!

Sorry I've been slow getting on this!  I agree and think @slupekdev is the best approach and easier to implement.

[2015-02-12 22:50] jonsamwell commented on #32
Hi @abobwhite @slupekdev @pjwalmsley !

Sorry I've been slow getting on this!  I agree and think @slupekdev's is the best approach and easier to implement.  The reason we need a list of types to validate is that a custom control could contain other controls such as buttons which we can safely ignore in the validation phase.

I'll do this fix now and add a few tests to prove the functionality.  I'l

[2015-02-12 23:19] jonsamwell commented on #33
Sorry for the delay.  Issue fixed in commit 888ecd042affb391e57591a2f18f22395ba1f520 and available on bower V1.15.22

Thanks!!!!

[2015-02-12 23:19] #33 closed

[2015-02-12 23:20] jonsamwell commented on #32
Sorry for the delay. Issue fixed in commit 888ecd0 and available on bower V1.15.22

I'll create a new issue for the missing documentation.

Thanks!!!!

[2015-02-12 23:20] #32 closed

[2015-02-12 23:21] jonsamwell opened #34 "Missing documentation for register-custom-form-control directive"
Missing documentation for register-custom-form-control directive

[2015-02-12 23:21] jonsamwell commented on #30
I think I have a fix in for this so could you update to the latest version (v1.15.22 on bower) and check?

Thanks!

[2015-02-12 23:24] jonsamwell commented on #28
I think this would be more of a custom element modifier or a directive rather than part of the actual library itself?  Have a look at the documentation for the custom element modifier and if you need a hand let me know.

http://jonsamwell.github.io/angular-auto-validate/#custom_dom_modifiers

Thanks,
Jon

[2015-02-12 23:24] #28 closed

[2015-02-13 03:04] abobwhite commented on #33
@jonsamwell Thanks! I appreciate your efforts. Now, if I can just get people to use Ember instead of Angular...

[2015-02-13 06:51] jonsamwell commented on #33
Ha, not sure about using Ember!

[2015-02-13 20:53] pjwalmsley commented on #34
I should/may be able to get around to this this weekend.

I also struggled a bit with getting a nested form to validate.  It may be worth noting in the documentation that the inner form must have an element type of ng-form.  While this isn't an issue with your code it isn't blatantly obvious. :)

[2015-02-13 20:57] pjwalmsley opened #36 "Suppress Message Flag/Option"
I want to suppress error messages (but not styling) for select fields and radio buttons in my app to reduce visual clutter.  As far as i'm aware this feature doesn't exist.

Currently trying to do it with a custom message provider but it feels hacky.

A config option or property on the respective field would work well.

I could see others needing this feature as well.  Whats your take on it?

[2015-02-14 22:55] jonsamwell commented on #36
I think this is a good idea I would suggest an attribute on the element you don't want the message to appear on

<input type="text" ng-model="vm.model.name' disable-validation-message="true" />

This should be fairly simple to implement on the validation manager so I'll look at doing this today/tomorrow.

Thanks!

[2015-02-14 22:59] jonsamwell commented on #34
Thanks, I'll add the bit about a nested ng-form to the docs!

[2015-02-14 22:59] #30 closed

[2015-02-17 14:30] pjwalmsley commented on #36
Thank you!  I look forward to pulling down the enhancement!  :)

[2015-02-17 14:31] pjwalmsley commented on #36
I may still implement it the other way as well for our purposes.  If so i will let you know.

[2015-02-17 14:50] pjwalmsley commented on #36
Also I don't think we would even need to 'pass true'.  We could just check if disable-validation-message is undefined.

    <input type="text" ng-model="vm.model.name' disable-validation-message/>

    config.validate =  (disableValidationMessage != undefined);

[2015-02-17 17:00] juanchavezlive commented on #16
Hi @jonsamwell. First of all let me tell you congratulations for your excellent work in this library. I've been analyzing many others and yours is by far the best.

I ask you to please take issue in consideration.
Nowadays i'm using some inputs without any container with the 'form-group' class (because i don't require the container, the inputs doesn't contain a label for example.).... but in all t

[2015-02-17 20:46] pjwalmsley commented on #34
Thanks for all your work on this library.  Another small typo i spotted: "you can still do that by just specifying which element modifier should be used to modifier the elements visual state" - 'modifier' should be 'modify'. :)

[2015-02-18 04:21] jonsamwell commented on #16
@juanchavezlive I think you will need to create a custom dom modifer (how to here http://jonsamwell.github.io/angular-auto-validate/#custom_dom_modifiers).  The default BS3 dom modifier only deals with a default Bootstrap 3 form structure so you could base your new dom modifier off this.  Let me know if you are having a problem with it.

[2015-02-18 04:22] jonsamwell commented on #34
Thanks - I'll update soon

[2015-02-18 04:23] jonsamwell commented on #36
Yes we could use it as a default boolean attribute like required is.  I'll get around to this soon.

[2015-02-18 20:17] pjwalmsley opened #37 "Not loading en I18n json file. Instead returning default from cache."
In my run function I call setI18nFileRootPath then setCulture.  Theoretically setCulture takes care of loading the culture.  Because en-us/en-gb are hard coded in the js setCulture does not load these from the newly specified error lang file thus fails to resolve custom messages.

As a temporary fix I have set both undefined.

Glancing at the code it appears setCulture is only ever called by a use

[2015-02-18 20:20] pjwalmsley commented on #36
Sounds good!  Thanks!

[2015-02-18 22:04] emfor opened #38 "Not displaying validation when updateOn is set to 'submit'"
Hi,
I've setup an input with ng-model-options="{updateOn: 'submit'}" but when I click submit no visible signs of validation apperas. Would it be possible to add such a functionlity?

Best regards,
Mateusz

[2015-02-19 08:44] jonsamwell commented on #38
Hi Mateusz,

the ng-model-options polyfill I did would not work with updateOn submit as the control does not have such an event which is probably why it is not validating.  Does it validate ok if you set the updateOn to blur?

I wouldn't add such a custom piece of functionality to the library but this could be achieved with a custom element modifier that only made the element valid/invalid when th

[2015-02-19 08:47] emfor commented on #38
Thanks for the answer. Yes everything works great with 'blur'. I'll look into Your suggestions.

Thanks!

[2015-02-19 08:47] #38 closed

[2015-02-19 09:17] jonsamwell commented on #37
Yes I see your point here.

I think you could clear the error messages before you call set culture then these default cultures wouldn't be in the cache and it would request them.  Something like:

<pre><code>
angular.autoValidate.errorMessages = {};
defaultErrorMessageResolver.setI18nFileRootPath('../src/lang/');
defaultErrorMessageResolver.setCulture('en-gb');

 defaultErrorMessageResolver.getErr

[2015-02-19 09:21] jonsamwell commented on #36
Fixed in commit 2da11a83e8ecfed2593d9915659f318c7869059f  and a new release up on bower v1.16.22

[2015-02-19 09:21] #36 closed

[2015-02-19 09:29] jonsamwell commented on #34
Typo updated

[2015-02-19 09:30] #3 closed

[2015-02-19 14:24] pjwalmsley commented on #37
Yup that worked.

However, I ended up loading the errors from $translate in a custom error message resolver factory instead. :) Thanks for the responses and great library!

[2015-02-19 16:51] dsargent3220 commented on #18
Still banging my head against the wall on this one.  Not sure what to try next.

[2015-02-19 16:58] emfor opened #39 "Server Side errors are not dismissed after field edit"
Hi,
I wanted to test adding server side errors. When I submit the form, fields gets highlighed, but when I edit it. It doesn't remove the validation. Simple example: http://plnkr.co/edit/Ep6XsbyrFDYHkNlhSWBO?p=info

[2015-02-20 13:02] dook0 opened #40 "submit button outside the form."
Hi is it possible to have the submit button outside the form ?
I tried to put an ng-click on the button and $('#form_id').submit(), and it doesn't work.
Any idea ?
sorry I am a beginner with angularJS
Thank you !

[2015-02-20 13:49] jonsamwell commented on #40
Hi,

I think the submit button would have to be inside the form as the module hooks into the ng-submit directive to validate the form before calling the submit function.  However, you can mimic the behavior of this and write your own directive to do this (as long as you have access to the form somehow).  This is how I do it in the module - you basically call validate.validateForm(frm).  Simple as

[2015-02-20 13:53] jonsamwell commented on #39
Thanks, I'll take a look - I think it is because when the server error gets set there is no function to determine if it is valid once the field has been edited.  I'll look at adding a property that determines if these errors should be cleared when the ng-model is updated.  However, in the mean time you could call ngModelCtrl.removeExternalValidation.

https://github.com/jonsamwell/angular-auto-val

[2015-02-20 15:32] dook0 commented on #40
Thank you ! I will try to implement that.
Actually I have to put the submit button outside the form, because I have a scrolling form and my button is fixed at the bottom, and I get a jumping button in ios.
I'll let you know

[2015-02-20 16:27] dook0 commented on #40
I managed to implement it.
[code]

thank you !

[2015-02-20 16:27] #40 closed

[2015-02-22 10:35] emfor commented on #39
Coluld You help me with removeExternalValidation, I've tried something like:
[code]
there is no key name, because it's a server custom message. Unfortunately it doesn't work...

Thanks,
Mateusz

[2015-02-22 10:44] jonsamwell commented on #39
Have you tried just adding a key name when you invoke the setExternalValidatino('server-error',.....);
Then you could do the reverse here myForm.field.removeExternalValidation('server-error', true);

I'll do this enhancement soon as I think it is needed. I'll keep you posted.  Let me know if this works as a temp workaround.

Thanks for using the module!

[2015-02-22 10:48] emfor commented on #39
The problem is that when I add 'server-error' then I would need to add a key to the lang, but messages from server are different. I'll wait then for the enhancement, I'm not in a hurry... :)
By the way I've translated the lang to Polish. I'll send it by email.

Thanks,
Mateusz

[2015-02-22 10:52] jonsamwell commented on #39
Thanks for the translation!  Right, I'll get on with the enhancement for you this week (just assume it is going to work for now).

[2015-02-24 13:16] pjwalmsley opened #41 "Validate hidden fields on save"
A form I have has two tabs within it.  The Entire form is/must be submitted at once.  I validate on save, however angular-auto-validate does not validate hidden fields by design.  Initially I assume this was impossible because the DOM elements don't exist.  I had issues calling validate form on the individual form elements (after making visible of coarse).  However this actually works fine.

It wo

[2015-02-24 18:05] pjwalmsley commented on #41
Ended up validating the sub form on tab change.  So i don't need this fix (at least yet).  Still an idea though. :)

[2015-02-24 23:08] pjwalmsley commented on #34
Worth noting or changing the limit of ten elements deep.  I've got a really deep form and this threw me off.

The recursion limit of ten elements is on line 1023 if you feel it is worth increasing or making recursve based on the existence of a parent.

[2015-02-25 05:44] jonsamwell commented on #41
I'll make this an attribute of the form i.e. validate-hidden-fields

[2015-02-25 05:45] jonsamwell commented on #34
Maybe a config options i.e. recursionDepth

[2015-02-25 14:00] pjwalmsley commented on #34
That would work.  I mean there really isn't much danger/speed loss when its higher.

Of better yet if we used a recursive function there would be no need to worry about recursion depth.  Perhaps we could replace this function with the following.

            var findParentForm = function (el) {
                var form;
                var recursive = function (parent) {
                    if (pa

[2015-02-25 14:08] pjwalmsley commented on #34
Just sent over a pull request.

[2015-03-03 08:03] imomin opened #43 "Custom Validation Help"
Hi there, I need some help from experts with custom validation. In my case the validation message has a dynamic value. Little background, I have a number field with decimal value. End user can customize it to set whatever precision they want for the decimal. I am planning to use RegEx to validate the value and I must use a directive.  Problem is, after I set the ExternalValidation, its shows the c

[2015-03-03 08:12] emfor commented on #39
Any luck with this one?

Best regards,
Mateusz

[2015-03-04 23:24] lcornejo commented on #41
Yea this is important when you have widgets that wrap the input element and hide the original element a la Kendo UI

[2015-03-05 14:10] jonsamwell commented on #41
Are we talking about hidden fields

<pre><code>&lt;input type="hidden" /&gt;</code></pre>
or
<pre><code>&lt;input type="text" style="display:none;" /&gt;</code></pre>
or both?

[2015-03-05 14:22] jonsamwell commented on #43
Hi! Thanks for using the module.

I think there are two issue here.

1) The first validator function is doing too much (I think).  I don't think you need to be setting ctrl to invalid or setting the external validation in this function as this is what the rest of the angular pipeline does.  You also need to supply a key to the first parameter  in the $setValidity (this is why the null message is a

[2015-03-05 14:27] jonsamwell commented on #39
I'm going to tackle this tomorrow - sorry for the delay!

[2015-03-05 15:22] lcornejo commented on #41
Personally I've only needed it when the ```display: none ``` or ```visibility: hidden``` but if it's not too complicated to support both then both. You never know when your next widget decides to use ```type="hidden"```. While we are add it maybe make the directive also work on a control by control basis like maybe validate-always, so that we can have an override in case we need to mix and match o

[2015-03-05 16:24] pjwalmsley commented on #41
@lcornejo Same; I'm using ng-show which sets display: none.  But there should definitely be some thought put into the type="hidden".  From my experience that is used mostly for anti-spam measures.  You pass some arbitrary field that you expect to be blank because it's not visible.  If it isn't it's safe to assume a bot filled out the form.

So perhaps the default should be not to address those fie

[2015-03-05 16:47] pjwalmsley opened #44 "Fields that are touched and set invalid but do not change in value lack errors."
Particularly; If i were to set required on a field, click into, then click to another field.

In this case, validation occurs in angular marking the field invalid, but we do not style the field differently or show the relevant error.

I'm looking into addressing this.  I added
[code]
to the ngModelDirective decorator hook.  This fires when a user click in then clicks out as well as when a user tab

[2015-03-05 18:08] pjwalmsley commented on #44
A fix was implemented on my branch in commits: 27a633a 9f64413 065d1e0 5ed8c6b .  Atempted to do a pull request but I didn't do it right (didn't branch).

[2015-03-05 18:11] pjwalmsley commented on #34
So i messed up that pull request.  The change, as described above, can be seen on my branch.  It's commit  0908f71 .

[2015-03-05 23:07] jonsamwell commented on #44
This seems like angular behaviour to me?  I don't think we should be setting touched as I would expect angular to do this?  If you want it to validate on blur you can use the ngModelOptions.  I have lots of apps that successful validate the required field when the use focuses the element, doesn't put anything in and then tabs out?

The app I'm working on at the moment definately does this.  Howeve

[2015-03-05 23:09] jonsamwell commented on #44
Also I don't think we could put the blur event handler in the main code as some user might not want this and this is kind of why the ngModelOptions is supported (even in angular 1.2)

[2015-03-05 23:29] jonsamwell commented on #44
Also if you look at the angular source code it is setting touched on blur

https://github.com/angular/angular.js/blob/master/src/ng/directive/ngModel.js#L1041

[2015-03-05 23:36] jonsamwell commented on #44
This seems to be the point in the angular source code where on an element with the blur event for the updateOn property in the ngModelOptions where angular decides if it should set the control as dirty and continue with the validation phase.  As you can see if the value is undefined (which it will be when you enter and blur the control with no value in it) it just returns and doesn't run the valid

[2015-03-05 23:38] jonsamwell commented on #41
It might be I know angular doesn't bind to type="hidden" so the validation of this might be tricky.

[2015-03-06 03:47] pjwalmsley commented on #41
Hmm perhaps it's best to ignore them like angular does...

[2015-03-09 12:32] pjwalmsley commented on #44
Yea, that approach does seem a bit better.  I'll give the change request a go and see how that works out.

[2015-03-09 13:02] jonsamwell commented on #44
Cool - let me know how you get on!

[2015-03-09 13:02] #44 closed

[2015-03-10 00:40] jonsamwell commented on #41
This is now added (docs to follow).

Add this attribute to the parent form or ng-form to validate non visual elements:

[code]

[2015-03-10 00:40] #41 closed

[2015-03-10 00:42] jonsamwell commented on #16
@brianchance sorry for the huge delay!!!  This feature is now in (docs to follow).

Add this attribute to the parent form or ng-form to disable the validation of particular forms and the child elements:

[code]

[2015-03-10 00:42] #16 closed

[2015-03-10 13:34] sberube opened #45 "frmOptions is undefined"
When using version 1.7.23 of the plugin I get the error message "frmOptions is undefined". After investigation I found that the getFormOptions function return undefined, is it normal?

By browsing the source code I've seen that version 1.7.22 introduces a breaking change on the function that is currently failing. Do I need to do something on my side to resolve this issue?

Thanks!

[2015-03-10 13:36] jonsamwell commented on #45
Hi,

Are the elements you are validating wrapped in a form element?

[2015-03-10 13:37] jonsamwell commented on #45
I think perhaps I need to provide a default frmOptions object if there isn't a parent form.

[2015-03-10 13:39] sberube commented on #45
Yes, the elements I try to validate are in a form element. We were using version 1.4.20 of the plugin before and everything worked fine.

[2015-03-10 13:48] sberube commented on #45
Actually, the problem seems to be that the autoValidateFormOptions object on the FormController is not built (it is undefined).

[2015-03-10 13:49] jonsamwell commented on #45
Yep, I just noticed it hasn't gone out in the build - fixing now :-)

[2015-03-10 14:07] jonsamwell commented on #45
This should now be fixed in v1.18.01 (it is up on bower as well)

[2015-03-11 07:12] jonsamwell commented on #45
Hi @sberube sorry you'll have to use the latest version now v1.18.02 which fixes an issue where a control didn't have a parent form.  Let me know if you are still getting any issues.

[2015-03-11 07:12] #45 closed

[2015-03-11 20:34] pjwalmsley opened #46 "disable-dynamic-validation directive does not work on sub forms"
Working around it right now by overriding the styles and hiding the classes.

Particularly it would be great to allow the user to pass a variable (in addition to no variable being allowed) to disable/enable validation dynamically.  This would allow users to enable/disable validation error message rendering for subforms when they enable/disable the subforms. :)

[2015-03-12 03:59] jonsamwell commented on #46
Hi @pjwalmsley,

How have you declared the subform is it an element or an attribute i.e. <div ng-form> this should work if you are using the form or ng-form as an element.  Currently the directive only supports elements so I'll add the attribute as a restriction.

https://github.com/jonsamwell/angular-auto-validate/blob/master/src/directives/autoValidateFormOptions.js#L37

Jon

[2015-03-12 19:56] mgsstms opened #47 "Add asterix to required elements"
Is it possible to add asterix to required elements?

[2015-03-12 20:10] jpmckearin commented on #47
This has already been answered. Go [here](http://jonsamwell.com/dynamic-angularjs-validation/) and search for the comment made by Zane Gers.

[2015-03-12 20:22] mgsstms commented on #47
Thank you for your response. To use the extra directive is not the best idea for me.
Actually I implemented this feature myself, but it doesn't work inside of <tabset>.

[2015-03-12 20:30] mgsstms commented on #47
1. I put functions after this function " setElementValidationError = function (element, errorMsgKey, errorMsg) "

-------------------
                    addAsterixToElement = function (scope, modelCtrl, el) {
						var isSetAsteriskForRequiredLabel = true;
						var asteriskStr = '*';
						var is_required = el.attr('ng-required');
						is_required = (is_required === true) || (is_required === 't

[2015-03-12 20:34] mgsstms commented on #47
I guess, the problem  that I use wrong scope here: "$compile(label)(scope);"

[2015-03-13 14:27] jonsamwell commented on #47
I can't recommend using this approach as it modifies the library itself and will be incompatible and unmanageable when upgrading to future versions.  I would suggest a directive approach for this as it could easily be pulled out into a directive.

[2015-03-13 14:27] #47 closed

[2015-03-13 14:38] mgsstms commented on #47
Thank you. I agree with you. I already developed clean directive for ngRequired to add asterix (html ).

[2015-03-13 14:39] jonsamwell commented on #47
Great

On Fri, 13 Mar 2015 22:38 mgsstms <notifications@github.com> wrote:

[2015-03-13 23:56] imomin commented on #43
Thanks for your help but end up with different option. However, I am still interest in sending attribute value or scope value in the validation message.

[2015-03-14 02:56] jonsamwell commented on #46
Hi @pjwalmsley I've fixed this locally just pad out the tests and push up

[2015-03-15 03:10] rwwagner90 opened #49 "TypeError: Cannot read property 'forceValidation' of undefined"
I can't even get started using this. Getting an error: "TypeError: Cannot read property 'forceValidation' of undefined"

Any ideas?

[2015-03-15 03:12] jonsamwell commented on #49
What version are you using?

On Sun, 15 Mar 2015 11:10 Robert Wagner <notifications@github.com> wrote:

[2015-03-15 03:14] rwwagner90 commented on #49
1.17.23

[2015-03-15 03:16] rwwagner90 commented on #49
More info:

I'm using foundation, and I included:
[code]

I'm trying to load a page with my form on it when I get that error.

[2015-03-15 03:18] jonsamwell commented on #49
Sorry there is a bad build with that version.  Updgrade to the latest one v1.18.02

[2015-03-15 03:21] rwwagner90 commented on #49
It appears that version is not available:

[code]

Should I do 1.9.21?

[2015-03-15 03:24] jonsamwell commented on #49
Hmmm, just looking - there is a tag with that version number

[2015-03-15 03:25] rwwagner90 commented on #49
Ah, haha, yeah there is. Well, is there a reason I shouldn't use the newer 1.9.21 one?

[2015-03-15 03:27] jonsamwell commented on #49
It's not newer it is really old - you could use 1.16.22 that is a good version.  Give me 5 minutes looking at it now

[2015-03-15 03:29] rwwagner90 commented on #49
Ah, I was confused, as I thought the order it spit them out in was the order of versions. I tried putting the "v" in front of the version and it appears to work.

[2015-03-15 03:32] rwwagner90 commented on #49
Also, thanks so much for responding so quickly. Very helpful.

[2015-03-15 03:34] jonsamwell commented on #49
Sorry you had a problem getting started! That definitely not what I want.  I'm just sorting out the bower issue now.  I might add a simple plunker link to the readme so it is easy to get started.  Let me know if you need anymore help!!!

[2015-03-15 03:38] rwwagner90 commented on #49
No worries. It's already a lot easier than what I was using before. Great library so far. A plnkr might be helpful, and/or perhaps a couple more examples on the docs. As far as I could tell, no common validations are included correct? Like checking for email, etc? That may be to cut down on bloat, not sure, but including an email checker, as well as a way to check a password and confirm password a

[2015-03-15 03:50] jonsamwell commented on #49
Yeah I'll sort out a plunker.  The library is for the processing of angular validation and displaying the results to the user rather than doing any actual validation.  That being said it includes default error messages to all the built in angular validator.  Angular has a built in email validator if you have an input with type email it should work.

[2015-03-15 03:50] #49 closed

[2015-03-15 23:44] jonsamwell commented on #46
Fix now commit in latest release (v1.18.30

[2015-03-15 23:44] #46 closed

[2015-03-15 23:46] jonsamwell commented on #49
All the bower version issues should now be fixed.

bower install --save-dev angular-auto-validate

should now resolve to the latest release v1.18.3

Thanks!

[2015-03-16 00:23] jonsamwell commented on #39
Hi @emfor sorry for the delay.  This issue should no be resolved in the latest release v1.18.4.  The external validation errors are removed by default when the control or form is validated.  To stop this behavior add the attribute to the parent form.

[code]

Let me know how you get on.

Jon

[2015-03-16 00:23] #39 closed

[2015-03-17 20:34] jpmckearin opened #51 "Option for allowing hidden elements to be validated"
I know this initially sounds like something that would never be necessary, but when using a third party control set I ran into this. Specifically, almost any third party solution for select elements use a stylized form of a list and hides the actual select element. I forked this repo and created that configuration functionality but have not yet built tests. Feel free to take a look. [jmckearin/ang

[2015-03-17 23:55] jonsamwell commented on #51
Hi @jpmckearin

I actually added this functionality to the library a few days ago!

It can be configured on a global on form basis to validate hidden elements.  I need to update the documentation but in short.  To validate hidden elements on a form add the attribute

[code]

See this directive (for the form and ng-form elements)

https://github.com/jonsamwell/angular-auto-validate/blob/master/src/

[2015-03-17 23:55] #51 closed

[2015-03-18 00:02] phazei opened #52 "submission of validation not working"
I'm using v1.18.4 and when I submit a form, if it is pristine, even if there are errors, it submits without validation.  If I change a field that needs validation, and submit, then it only shows the validation error on that field, not any of the others even if they are wrong.

I tried copying the demo that's here:
http://jonsamwell.github.io/angular-auto-validate/#demo
And that didn't work either.

[2015-03-18 00:07] phazei opened #53 "ng-submit required?"
Is there a way to get the form to validate without ng-submit?

I'm using ngUpload, and it also uses a submit event listener to do its submission, so I'm not using ng-submit at all.  ngUpload does check to make sure formController.$valid is true before submitting, then it returns false.  After that auto validate doesn't appear to be triggered.  (This is separate from #52 where I removed ngUpload en

[2015-03-18 00:11] jpmckearin commented on #53
I did something very similar to #40 in order to solve a similar issue.

[2015-03-18 00:18] jonsamwell commented on #52
Funny you posted this - I am actually working on one now!  I'll put a link to it on the Readme.md when it is done.  The documentation needs a complete overhaul as it is horrible and it is missing lots of stuff like custom form controls, the various form options you can have (forcing validation, disabling validation, validating hidden elements etc).  If you fancy help that would be awesome!

I rega

[2015-03-18 00:19] jonsamwell commented on #53
Yep this is exactly what I was going to suggest.

[2015-03-18 00:19] #53 closed

[2015-03-18 00:26] phazei commented on #53
Wow, that was a fast response.

Actually, I just got it working with the 1.0.17 version by just adding an empty "ng-submit" to the form.

[2015-03-18 00:38] phazei commented on #52
I have required on all my fields, but using the latest version, it doesn't pop up the error messages on all the fields like in the demo.  I manually changed the source so the default for forceValidation was true, and it still didn't.

[2015-03-18 00:41] martinib77 commented on #52
I'm having the same problem as @phazei

[2015-03-18 00:46] jonsamwell commented on #52
Nice I'm doing a plunkr now so I'll confirm the issue and submit a fix -
sorry if it's not working guys I'll add a couple of unit tests to cover
this.

On Wed, 18 Mar 2015 at 08:41 Martin Irigaray <notifications@github.com>
wrote:

[2015-03-18 00:46] phazei commented on #52
I've tracked it down to a regression between 1.6.22 and 1.8.3.  Working on 1.6.22

[2015-03-18 01:01] jonsamwell commented on #52
yes I've just found the issue - v1.18.x had a big change adding form options to allow for lots of different things (disabling validation, validating hidden elements, forcing validation etc) so the force validation (when clicking the submit button) wasn't sending through the right value.  I've fixed it now and just writing a couple more unit tests around it then I'll release.  Sorry all!

[2015-03-18 01:17] jonsamwell commented on #52
This is now fixed in v1.18.5.  I've added a test as well to make sure this doesn't happen again.

https://github.com/jonsamwell/angular-auto-validate/blob/master/tests/services/validationManager.spec.js#L373

Here is a really simple plunker which works with the latest version.  I'm going expand this to a fully working demo later today.

http://plnkr.co/edit/3ff7LWduHCedVJZEorv3?p=preview

[2015-03-18 01:17] #52 closed

[2015-03-18 01:53] martinib77 commented on #52
excellent! thank you! it works now.

[2015-03-18 06:06] jonsamwell opened #54 "Having working Plunker to demonstrate how to setup and use (that is always kept up to date)"
Having working Plunker to demonstrate how to setup and use (that is always kept up to date)

[2015-03-18 06:07] jonsamwell commented on #52
Sorry - created a new issue for the demo plunker here https://github.com/jonsamwell/angular-auto-validate/issues/54

[2015-03-18 21:49] abobwhite opened #55 "Number validation not showing when also required"
I just ran across an issue - and I'm not sure if it's an angular issue or angular-auto-validate. I have an ```<input type="number" required />``` and I seem to always be getting the required error validation message even i've typed something (non-numeric) into the input. I am expecting the error message to be the number error message, not the required message.

Thoughts?

[2015-03-20 00:04] jonsamwell commented on #55
Hmmm, most likely if you put a non-numeric into the field the formatter in angular is failing so the model is not updating so it appears to auto-validate that the field has not got anything in.  I'll investigate.

[2015-03-20 04:37] abobwhite commented on #55
Thanks. I found a workaround by creating a directive ```allow-invalid``` which always returns ```ngModelCtrl.$viewValue``` from ```$parsers.push``` that seems to put the invalid value on the model but it's kind of a hack. The only reason I believe this could be auto-validate issue is because it is behaving as expected on the above example in the angular documentation.

[2015-03-21 18:00] jpmckearin opened #56 "Change the bower.json "main" file to use non-minified release version"
This is a bower standard. I'm not in a position to create a PR at the moment, but will do as soon as I get the chance if need be.

[2015-03-22 02:28] jonsamwell commented on #55
Yeah this is a problem with the library specifically the debounce function on the ngModelDecorator.  Both the number and required validation errors are coming through but required is get picked over number.  Need to thing about handling this.

[2015-04-06 15:12] panzhuli opened #57 "Error messages location"
I'm using a form that looks like this:
[code]

The auto-validate is working fine, but the error messages are being appended to after the div containing the form. Is there a way to specify where the error messages appear? I see them working properly on the demo site but don't see how that's being specified. Thanks

[2015-04-06 16:10] mgsstms commented on #47
I guess, it could be used in module
app.directive('ngRequired', ['$compile', function($compile) {
	return {
		restrict: 'A',
		link: function(scope, element, attrs) {
			function updateLabel(isRequired) {
				//var asteriskRemove = '.required';
				var asteriskAppend = '<span class="required">&nbsp;*</span>';
				var asteriskTxt = '*';
				if (!attrs.id) {
//console.log('No id attribute', attrs);

[2015-04-06 17:26] panzhuli commented on #57
Ah, I see it is to register a new Element Modifier. I misunderstood what that terminology meant. Feel free to close

[2015-04-06 17:26] #57 closed

[2015-04-06 17:47] mgsstms opened #58 "Attribute "element-modifier" is not applied to element descendants"
Attribute "element-modifier" is not applied to element descendants  for complex elements like timepicker (html table with inputs and button is generated here). The default modifier process these inputs and button.

[2015-04-07 15:30] pjwalmsley commented on #58
Have you added "register-custom-form-control" to your custom field?  HTML elements are added to a HTML form controller, but custom elements are not.  Angular auto validate uses the HTML form controller to decide what it should validate.  Adding "register-custom-form-control" makes angular auto validate aware of your custom element.

Let me know if that works for you. :)

[2015-04-07 16:27] mgsstms commented on #58
Thank you, but it will not work for me ((
The module validates timepicker(shows errors or success), that's why no need to use the "register-custom-form-control".
In my case the problem is, that default bs3 element modifier adds "has-success has-feedback" style classes, which corrupts view (I still want to use default "has-success has-feedback" for other html elements like input, select etc). That'

[2015-04-07 21:30] pjwalmsley opened #59 "Global disable validations should be override-able at the form level"
I've been having trouble using 'validator.enable(false)' to enable automatic validations in combination with the 'auto-validate-enabled="true"' attribute on a form as described on line 77 of the dist file.

I believe the I believe in a past version i had used the 'disable-dynamic-validation="false"' attribute on the form.

The parseOptions method on line 1036 of the dist file sets the disabled fla

[2015-04-07 21:43] pjwalmsley commented on #58
Ok, so to clarify; The default element modifier corrupts the view.  To get around that you have created a custom element modifier.  You wish to apply this to only your timepicker with element-modifier, but that does not work (as in it does not register as the time modifier for that element)?

I'll try to take a peek at it later tonight or tomorrow/tomorrow night.

[2015-04-08 18:15] pjwalmsley opened #60 "findWithClassElementAsc"
line 322 of the dist file fails to find the form group element.  Our element is 4 or 5 divs deep from the form-group for layout purposes.  This should be a higher limit.

[2015-04-09 18:29] dsargent3220 opened #61 "Globally disabled validation is still validating some forms"
We are lazy loading Angular UI grid (not ng-grid, the beta of UI grid) using OC Lazy Load (not sure if that bit is relevant or not).
When we turn on filtering in the grid it adds text boxes to the top of the grid header.  Those text boxes are used to filter the columns / rows and do not have form-group class.
We decided we wanted to turn off validation globally and then just apply it via the form

[2015-04-09 18:37] dsargent3220 commented on #61
I've removed all of the lazy loading stuff and it still does it, so definitely not OcLazy load.

[2015-04-09 20:59] dsargent3220 commented on #61
A further problem.  Not only is it validating form elements that it should not be . . . but one of the forms that it isn't validating also won't validate when we set the form to validate by adding
auto-validate-enabled="true"
to the form tag.
Either we are doing something hideously wrong, or it's totally broken.

[2015-04-10 04:31] jonsamwell commented on #61
Hi,

Unfortunately I'm on holiday until mid next week so can't really look at this but if you could do me a reproducing plunker I will look at it and fix the library as soon as I get back.

One thing to note (as the documentation needs updating) is that the attribute auto-validate-enabled does not exist.  To enable / disable a form you would use the attribute disable-dynamic-validation="false" on

[2015-04-10 06:22] jonsamwell commented on #60
which version are you using?

[2015-04-10 06:24] jonsamwell commented on #60
I think a recursive limit property would be good for this.

[2015-04-10 06:26] jonsamwell commented on #59
Sorry the doc on that are out of date.  You should be using the attribute disable-dynamic-validation="false" to re-enable a form or use true to disable it.

see my comment on https://github.com/jonsamwell/angular-auto-validate/issues/61

[2015-04-10 06:29] jonsamwell commented on #58
It must be something to do with the root element of the custom control @mgsstms could you do a reproducing plunker so I can debug it.

[2015-04-10 12:36] mgsstms commented on #58
I got the problem to reproduce this on plunker (shame on mr ((). I prepared the archive with 3 index files: https://www.dropbox.com/s/yvduzitcmem2mk5/_test.zip?dl=0

[2015-04-10 12:41] jonsamwell commented on #58
Thanks for this!!! I'm on holiday until next Wednesday so I afraid I won't be able to look at it properly until then as I only have my tablet with me.  Sorry for the inconvenience!

[2015-04-10 12:44] mgsstms commented on #58
Jon, thank you

[2015-04-15 17:33] dsargent3220 commented on #61
OK.  Here is the Plunker
http://plnkr.co/edit/bF0TDi2MvLNea4QpuPco

To recap, here's what we are seeing:
* Setting validator.enable(false); turns off validation for forms but does not keep the validator from throwing errors for inputs that do not have parent form-group class
*  There appears to be no way truly globally disabling validation and then turning it back on for only certain forms.

What

[2015-04-16 06:46] jonsamwell commented on #61
I've fixed a few issues and the plunkr appears to be working fine now with the new release file (v1.18.6).

Let me know if you are still having any issues.

[2015-04-16 06:46] jonsamwell commented on #59
This is now working in the latest release v1.18.6

[2015-04-16 06:46] #59 closed

[2015-04-16 06:47] jonsamwell commented on #60
I've increased this to 10 for now

[2015-04-16 06:47] #60 closed

[2015-04-16 06:47] jonsamwell commented on #56
Done

[2015-04-16 06:47] #56 closed

[2015-04-16 15:41] dsargent3220 commented on #61
Jon, thank you so much for getting to this.  You've fixed the main issue of it trying to validate inputs that are not inside of forms but there is still a bug with turning off validation all together then just enableing it for individual forms.
I've updated the plunker
http://plnkr.co/edit/bF0TDi2MvLNea4QpuPco?p=preview
Notice that we are turning validation off in the config and that the Username

[2015-04-16 18:00] abobwhite commented on #55
Any movement on this?

[2015-04-20 05:01] jonsamwell commented on #55
Sorry I did look at this but haven't figure out a fix yet.

[2015-04-20 05:01] jonsamwell commented on #61
Great I'll take a look.

[2015-04-22 14:28] pjwalmsley commented on #59
Thanks Jon!

[2015-04-22 14:33] pjwalmsley commented on #60
Thanks.  That sounds reasonable. :)

[2015-04-29 15:18] jonagoldman opened #62 "Add undocumented features"
It will be nice to know all the methods this module have.
I see there are a lot of undocumented functionality like setExternalValidation(), validate hidden inputs, etc.

[2015-04-29 15:25] jonagoldman opened #63 "General error validation"
I want to show a general error message when something goes wrong or when I don't want to specify in which field the validation failed occurred.

Here is an example response from the server, if its helps.

![image](https://cloud.githubusercontent.com/assets/1297559/7394576/1814dc7a-ee9d-11e4-9214-6ecafa5a73c6.png)

One option is to add a hidden empty field and assign to it a default key, but I am s

[2015-05-04 12:18] wzomer opened #64 "UI-Select with angular-auto-validate"
I'm trying to make the angular-auto-validate work with ui-select but I can not, someone has succeeded and have an idea of how to do or maybe has the finished implementation to share?

[Google Translate help]

[2015-05-11 15:56] wkwiatek opened #65 "Errors in Foundation element modifier are appended to column"
I've just started to use your `angular-auto-validate` and met first problem. There is _Foundation_ based grid in project and it was a perfect choice to use `foundation5ElementModifier`. However there's an issue with that. It requires to have an `columns` class to be present but I think it's not required in _Foundation_.

Wouldn't it be better to add error messages right after input field? Or will

[2015-05-12 12:30] wkwiatek opened #66 "Validation might have an option to start validating on submit"
It would be nice to have an option to choose whether validation should start immediately or after first click on submit. In **AngularJS 1.3** it is pretty easy to check as form has proper value set in `$submitted` flag.

The way to check fields after first submit is really nice from UX perspective as it doesn't mess with form until user enters something wrong.

[2015-05-12 12:33] wkwiatek commented on #65
I made this improvement for myself but I'm not sure whether it satisfies your requirements. You can take at look at: https://github.com/wkwiatek/angular-auto-validate/tree/foundation-append-element and compare across forks.

[2015-05-14 02:41] gregbty commented on #66
I agree this would be great. Having the ability to set it globally if we wanted to have it validate at $touched would be great as well.

[2015-05-15 14:15] freeedom opened #67 "ngForm in ngRepeat throws error "Error: [$compile:ctreq] Controller 'form', required by directive 'ngForm', can't be found!" (potentially due to usage of ngInclude? ui-router?)"
Hi there, first of all, great library very useful (why not more stars ?)

Though, I'm trying to create a list of  < ANY ng-repeat="x in list" ng-form="formName{{$index}}" >  and as soon as I use "jcs-autoValidate" module it throws me this error
"Error: [$compile:ctreq] Controller 'form', required by directive 'ngForm', can't be found!"

The debugger in chrome, after some tries, seems maybe to rela

[2015-05-15 15:03] freeedom commented on #67
And just for help if anyone stomps on the same issue : there's always the workaround of specyfing a ng-form or <form> AROUND the list of the ng-repeat (effectively there will be only one form/ngForm) and using the $index of the ng-repeat on each and every input INSIDE the ng-repeat to make them distinguishable between each row.

The downside being ofcourse that, by default, if ANY input inside the

[2015-05-18 16:08] pjwalmsley opened #68 "attempted form submission followed by a form reset and data restoration causes unwanted error condition"
I have a form with validate-non-visible-controls set.  I populate the model and render the form.  Validations fire and angular-auto-validate assesses them.  At this point ctrlFormOptions.forceValidation is false in the validateForm method.

I then attempt to save my form.  validateForm calls it's own processElement passing true for the parameter forceValidation.  This value is set permanently on c

[2015-05-19 09:59] mgsstms opened #69 "Overriding Error Messages for specific element doesn't work"
adding the attribute *-err-type="errorTypeKey" doesn't work

for instance,
input type="text" ng-model="model.firstname"  required  required-err-type="firstNameRequired"/

In this case you will see this error message: "Please add error message for required"

[2015-05-19 11:34] jonsamwell commented on #69
Could you do a reproducing plunkr as it is working in two apps I have it in.  Have you added the custom error message to the message collection?

[2015-05-19 11:39] jonsamwell commented on #68
Sorry I'm being a bit slow at responding to error at the moment I'm snowed under.  Feel free to send a PR in to fix this issue.  The only way I can think of resetting the form is by getting the form as the library need the individual element to change it ui.

[2015-05-19 11:41] jonsamwell commented on #67
Hmm, could you do a plunkr to reproduce and I'll take a look and see if there is anything the library can do to help?

[2015-05-19 11:41] #67 closed

[2015-05-19 11:41] jonsamwell commented on #66
Yes this would be a great feature.  Feel free to send in a PR - I'm really really snowed under at the moment so it might be a while until I get around to it sorry!

[2015-05-19 11:45] jonsamwell commented on #65
Hi, thanks for using the library.  The foundation5ElementModifer uses the best practives from that library but you are right you wouldn't have to use columns.  I think the solution would be to create a custom element modifier but if you have modified the existing on and the test still pass feel free to send in a PR.

[2015-05-19 11:47] jonsamwell commented on #63
Hmmm, you could override the default message (https://github.com/wkwiatek/angular-auto-validate/blob/foundation-append-element/src/services/defaultErrorMessageResolver.js#L21) in the error message resolver as a work around but it would be good to have the library handle this.  You could create a custom error message resolver which provides this behaviour.  See http://jonsamwell.github.io/angular-a

[2015-05-19 11:49] jonsamwell commented on #62
This would be great!  Feel free to send in a PR request, actually please help I could definitely do with a hand maintaining this at the moment!

[2015-05-19 12:00] mgsstms commented on #69
Thank you. I forgot to add the custom error message to the message collection. I added it directly to
attribute required-err-type. Not it fixed.
http://plnkr.co/edit/vcpSe0TuNJRyxutfOpo4?p=preview
Thank you again.

[2015-05-19 12:00] #69 closed

[2015-05-19 12:16] wkwiatek commented on #66
I've just added PR with changes that we are currently using in our app and works pretty fine for us. There is a little bit more than just this issue and #65 so please review that in your spare time. Thanks!

[2015-05-19 12:36] jonsamwell commented on #69
Cool, glad it works :-)

[2015-05-19 12:40] jonsamwell commented on #66
Thanks for the PR it's really helpful, I'll try and take a look tomorrow :-)

[2015-05-19 19:50] pjwalmsley commented on #68
Same here.  The work around is pretty simple.  I'll try to dive deeper and do a pull request sometime in the next few weekends.

[2015-05-19 21:37] jonsamwell commented on #68
Thanks @pjwalmsley that would be awesome!

[2015-05-20 11:44] jonagoldman commented on #62
Before opening this issue I tried to understand how those features work by looking at the source, but I could't figure it out.

[2015-05-20 19:34] freeedom commented on #67
Hi thanks for feedback. Here is a example

http://plnkr.co/edit/HULuG7dw4GvlD03D86Wb

See, there is this error
Error: [$compile:ctreq] Controller 'form', required by directive 'ngForm', can't be found!
even if there is a <form> higher in the HTML. ngForm itself doesn't require a <form> as far as I know (which is what the first example does on the plunkr)

https://docs.angularjs.org/api/ng/directiv

[2015-05-27 08:28] jagadeshpaladugula opened #71 "How to Replace Variables in Error Messages"
I have a custom validation directive which checks for unique name in the given list.

[code]

I am able to validate the input element, but I want to replace the message variables in the message key.

My error Message Key is **{0} should be unique**

When ever my field gets validated, I get message like **should be unique**.

Is there a way to say that **Key Pair** should be unique,**Host Name** sh

[2015-05-27 14:53] hinok commented on #34
Hey,
Can someone provide very basic example why we need this directive?
I use <my-custom-directive> inside a form and everything is still propery validated.

plnkr http://plnkr.co/edit/GMoTi673v8cCR2UwQPRf?p=preview

[2015-05-27 16:39] abobwhite commented on #64
@wzomer I had to figure this out a couple months ago. You need to use the ```register-custom-form-control` attribute for angular-auto-validate to pick it up. I've only used it with `required` but it works great.

Here is an example snippet:

[code]

[2015-05-27 17:02] pjwalmsley commented on #34
Standard elements such as input, select, textfield, or button will be tracked by angular-auto-validate.  Custom fields that may provide a better user experience are not picked up (we find by tag type rather than ng-model).

In my case I have a custom multi-select drop down, a field that combines/controls two input fields to exposes a single usable value, and a special field that can be cleared.

I

[2015-05-27 17:38] abobwhite commented on #39
Hi @jonsamwell and @emfor

We recently upgraded our application to Angular 1.3.15 and this feature is giving me problems. Previously, I'd set server-side errors in the form ```form.setExternalValidation(message.field, null, message.message, true);``` but now after editing the field, the external validation is gone but the default error message kicks in. By adding your new attribute, ```remove-exte

[2015-05-27 17:53] abobwhite commented on #39
I debugged a bit further - it appears that with the default settings (no remove-external-validation-errors-on-submit="false"), this gets called: ```removeAllExternalValidation``` which indeed does remove the error but then in another event, the error gets populated with the default error message again because it can't find the key it was created by (in this case "null" or I've also tried ""). This

[2015-05-27 19:44] abobwhite commented on #39
Also, it turns out that it wasn't angular version related, but I had pulled in an update version of angular-auto-validate back in March that looks like it broke this and didn't catch it until now. The newest version shows the same issue.

[2015-05-27 20:29] fabm22 opened #72 "Is it possible to have a ngSubmit equivalent on a ngForm, having the same behaviour as with a regular form ?"
Hi there,

I wonder if there's way to have the same behaviour of a  ng-submit = "someFunction()" on a regular < form >  but with a ngForm ? Which is having a button submitting a form (calling someFunction) ONLY if  the form is valid??

It works great with a regular form tag with a ng-submit directive, but this doesn't seem to be the case with a ngForm.. The docs dont seem to exclude this use case

[2015-05-28 17:03] abobwhite commented on #39
@jonsamwell

I've continued debugging on this. It appears that ```modelCtrl.$invalid``` stays true even though we've removed the external validation. This is causing the else condition on line 919 to be executed: ```validator.makeInvalid(el, errorMsg);``` when in reality, it should never hit this block because it is actually valid. I'm looking for a solution.

[2015-05-28 17:28] abobwhite commented on #39
@jonsamwell  @emfor

Sorry for the spam. I've figured out the issue. There are two things at play here:

1) In ```validateElement``` we're doing this assignment: ```isValid = !modelCtrl.$invalid;``` BEFORE ```modelCtrl.removeAllExternalValidation();``` so when external validation is cleared (and thus becomes valid), it is already marked as invalid.

2) in ```removeAllExternalValidation```, the cod

[2015-05-29 21:12] lcornejo commented on #71
one way to do it is to do custom messages via http://jonsamwell.github.io/angular-auto-validate/#overriding_error_message like so

`uniqueInTheList-err-type="uniqueInTheListMessageForKeyPair"`

[2015-05-29 22:45] jonsamwell commented on #71
I think that is currently the best approach

[2015-05-29 22:45] #65 closed

[2015-06-01 10:39] hinok commented on #34
To be honest, I still don't get it.
For example I have my own file-upload directive which inject some upload validation errors into form.

In template it looks like this

[code]

This directive will do something like this in case of uploading too big image
[code]

As I understood, I could use `register-custom-form-control` to display errors?
How should I do it? Should I add `input hidden` with pro

[2015-06-01 11:57] hinok opened #73 "Incorrect element is used to retrieve FormController instance in ngSubmitDecorator.js"
I think you should use element object from post-link function, not from compile.

https://github.com/jonsamwell/angular-auto-validate/blob/master/src/config/ngSubmitDecorator.js

 **18 line**:
[code]

should be changed to
[code]

I have weird problem when formController was always undefined in one case.
I changed it in my fork: https://github.com/hinok/angular-auto-validate/commit/a6deac7e50539232

[2015-06-01 15:45] pjwalmsley commented on #34
Nope, your on the right track.  Auto validate's role is to add the error message, not necessarily do the validation.

If you sought to validate that you would add the <register-custom-form-control>.  This watches for error conditions (such as validationMaxSize).  Then you would add a value for validationMaxSize to your lang file (see examples for errors like required or minLength).

To actually ha

[2015-06-02 18:13] jagadeshpaladugula commented on #71
@icornejo Thanks for the reply. I am already using it, I am looking for a better approach. Thanks for the time.

@jonsamwell  Can we figure out a better way to fix it. Let me know if you have any design. I can work on it and create a pull request

[2015-06-04 03:19] jonsamwell commented on #73
Could you do a pull request?

[2015-06-08 13:22] hinok commented on #34
@pjwalmsley Thank you! I changed *elementModifier a bit and problably this is the reason why I couldn't see any appended validation errors in <file-upload/> element while using `register-custom-form-control`. All is clear now, thank you again.

[2015-06-08 13:27] hinok commented on #73
No problem but my fork has a few more changes which are related to  https://github.com/jonsamwell/angular-auto-validate/issues/66

I can make a pull request but it will contain a lot of more changes in code than just this one or I will fork the repo again and make just this one change and then make a pull request.

[2015-06-09 03:40] amcpanaligan opened #74 "Weird behavior upon using auto-validate with angular-ui-router injected views."
Hi, I want to use jcs-autoValidate for form validation as it saves time writing html elements for validation blocks. I am using angular-ui-router to inject views with its associated controller.

I have written a form in a particular view using <form> tags with novalidate attribute and <button type="submit"> as indicated on jcs-auto-validate demo site which is this is the simplest mark up for the a

[2015-06-09 08:38] gottfrois opened #75 "Manually trigger form validation"
Hey guys,

After spending some time looking for this I come to you. Some of my forms do not define a `ng-submit` call to action but a simple link with a `ng-click`. From the controller, I would like to be able to trigger the form validation. Any idea how I can do that?

Thx

[2015-06-09 09:14] jonsamwell commented on #75
Hi @gottfrois,

This can be done quite easily via the validationManager.  You can have a look at the form reset directive which contains the code you will need but apart from calling reset form you will need to call validateForm passing in the form element.

This is the method you need to call on the validationManager passing in the form you wish to validate:

https://github.com/jonsamwell/angular

[2015-06-09 12:28] gottfrois commented on #75
Ah i see, suddenly it all make sense :) Thx

[2015-06-09 12:28] #75 closed

[2015-06-09 22:18] jonsamwell commented on #74
Could you do a reproducing plunkr?

[2015-06-09 22:22] jonsamwell commented on #72
I don't see any reason why it wouldn't work if you put the ng-sumbit directive in a ng-form tag?

<ng-form ng-submit="sumbit()">...</ng-form>

[2015-06-25 14:15] slupekdev commented on #61
Try change autoValidateFormOptions.js file:
replace line 15 :
`if (validator.isEnabled() === false && parseBooleanAttributeValue(attrs.disableDynamicValidation) === false) {`

with

 `if (validator.isEnabled() === false && attrs.disableDynamicValidation === 'false') {`

[2015-06-30 08:57] origin1tech opened #77 "Form Group Warning Error & Insert After"
Two things I'm seeing is that I'm getting a warning noting that auto-val needs input to be wrapped in form-group. I haven't looked at how its crawling up the elements but its giving me a false positive as all inputs are in fact wrapped in form group.

Lastly it seems as thought when validation messages are "inserted after" the input its not taking into account for example a checkbox where text may

[2015-07-08 15:37] abobwhite commented on #39
@jonsamwell Have you gotten a chance to see my comments above?

[2015-07-09 08:13] jebner opened #78 "Is it possible to publish this to npm?"

[2015-07-09 08:23] jonsamwell commented on #78
Sure - off out now but I'll try and do this tomorrow

[2015-07-12 12:21] Hooyek opened #79 "Can't get angular-auto-validate working"
Hello,

I'm new on github, I really like your module and I want to add it to my test project (My first angular project BTW).
And I have a problem here because I installed it, and it's not working. Tried to add some console logs inside your project but none of them is logging. I even created plunkr, but in plunkr everything works fine (http://plnkr.co/edit/4VmLrq6OSbyMTkjPU9sv?p=preview). If you co

[2015-07-16 07:40] jebner commented on #78
I wanted to ask you again, if you could publish this. I'd really use it and I'd be very grateful.
If it is easier for you, you can also add me as contributor and then I can publish it myself.

Thanks a lot!

[2015-07-16 07:58] jonsamwell commented on #78
Sure sorry for the delay! I promise I'll get this published to npm tomorrow
:-)
On 16 Jul 2015 17:40, "jebner" <notifications@github.com> wrote:

[2015-07-17 01:51] jonsamwell commented on #78
Done!

https://www.npmjs.com/package/angular-auto-validate

[2015-07-17 01:51] #78 closed

[2015-07-17 02:06] jonsamwell commented on #79
Try using the latest angular version.
You also haven't go the angular-auto-validate dependency anywhere in your bower file so it might not even be getting loaded by your webpage as it probably can't be found.
https://github.com/Hooyek/ERP_frontend/blob/master/bower.json#L4

On your form you will need the ng-submit directive and on each form control you will need the ng-model directive.

https://gi

[2015-07-17 02:06] #79 closed

[2015-07-22 12:45] mihirvadaliaopenxcell opened #80 "How to validate form element on focusout of element?"
Hi jonsamwell,

This is really great plugin and easy to implement. But i can't find one feature like validate form element on focus-out. Can you please tell me is there any way to do it or any plan for future release?

[2015-07-23 06:00] jonsamwell commented on #80
Hi! You need to set ng-model-options to update on blur.

https://docs.angularjs.org/api/ng/directive/ngModelOptions

[code]

[2015-07-23 06:00] #80 closed

[2015-07-23 06:02] mihirvadaliaopenxcell commented on #80
Thank you. Actually i am new in angular JS and you solved my problem. Thank you again.

[2015-07-31 20:09] jonkri commented on #68
+1

[2015-07-31 20:58] jonkri opened #82 "Programmatically trigger a form reset"
Hi!

Thanks for a great library!

It would be nice if this library could support doing a form reset from, for instance, a controller having access to the form. This reset functionality would result in the equivalent of having clicked on a <code>type="reset"</code> button, but without actually adding such a button to the form.

Cheers!

[2015-07-31 21:00] jonsamwell commented on #82
So you would want the controller to be able to reset the form?

[2015-07-31 21:08] jonsamwell commented on #77
I think if you have a specific scenario it would be best to create a custom element modifier which does the placement specifically for you application's form structure as everyone codes bootstrap slightly differently.  Let me know if you need a hand with the code for this, but see the documentation first :-)

http://jonsamwell.github.io/angular-auto-validate/#custom_dom_modifiers

[2015-07-31 21:08] #77 closed

[2015-07-31 21:13] origin1tech commented on #77
thx Jon and I’m serious about this feature/extension etc. happy to work on it as time permits and release it for all.

So if you could shoot me some links as to where to start I can probably take it from there at least initially.

this need really has come from being on the road of late and well when you go from 3-4 windows on ur desktop to one that’s barely 14/15 inches, real estate is a premium,

[2015-07-31 21:28] jonsamwell commented on #77
Sure, I'd suggest a new standard dom modifier or options on the current BS3 modifier to allow you to place the message after the input element.

Here is the source for the current BS3 one.

https://github.com/jonsamwell/angular-auto-validate/blob/master/src/services/bootstrap3ElementModifier.js

and here are the current tests for it

https://github.com/jonsamwell/angular-auto-validate/blob/master/

[2015-07-31 22:07] jonkri commented on #82
Hi @jonsamwell, and thank you for your swift reply!

Yes, exactly. In my particular use case, I would specifically like to be able to reset the form after it has been submitted successfully, so that it can be displayed just like when the page was initially loaded.

The problem with only calling <code>$setPristine</code> on the form at this time is that fields that are required will (be empty and)

[2015-07-31 22:58] jonsamwell commented on #82
I could look at adding a reset form method to the form controller but for now you could work around this my taking in the form to you ng-submit method, getting the form element then call resetForm on the validation manager.  Similar to the formReset directive (link below).  On second thought not sure how you'd get the form element from the controller, maybe you could us document.querySelector for

[2015-08-01 07:39] jonsamwell commented on #73
Fixed in next release (V1.18.7)

[2015-08-01 07:39] #73 closed

[2015-08-01 07:41] jonsamwell commented on #63
A custom message resolver is the way to go I think.

[2015-08-01 07:41] #63 closed

[2015-08-01 07:42] #43 closed

[2015-08-01 07:43] jonsamwell commented on #64
@wzomer did @abobwhite anwser work? If not please do a reproducing Plunker and I'll investigate

[2015-08-01 07:43] #64 closed

[2015-08-01 08:10] jonsamwell commented on #82
This is in the latest release V.18.7.  You will have a resetForm method on the form controllers autoValidateFormOptions object.  You'll need to take the form controller into your ng-submit method.  Let me know how you get on.

[code]

[code]

[2015-08-01 08:12] jonsamwell commented on #74
Any progress on the Plunker?

[2015-08-01 08:13] jonsamwell commented on #72
Did you try putting the ng-submit directive on the ngForm tag?

[2015-08-02 00:16] jonkri commented on #82
Hi, again!

I updated to the latest version of the library (by cloning the repository, running grunt, and using dist/jcs-auto-validate.js). However, I didn't get it to work.

If I call <code>resetForm</code> while *not* modifying the form model, the form field looks correct, in that it doesn't have any validation classes. If I *do* modify the form model (to clear the input field) in the same code

[2015-08-02 08:54] jonsamwell commented on #82
Hi @jonkri

Hmm, yeah you are right we'd need to call $setPristine on each of the child ngModelControllers during the resetForm call (I think); I'll take a look at this.

Regarding the other point I don't see how we could reset the form with a method on the form controller?  Do you have any ideas?

Thanks!

[2015-08-02 14:27] jonkri commented on #82
Hmm... Calling <code>$setPristine</code> on the input field doesn't seem to fix the problem...

I don't really know how form reset (or this library) works. Is it possible that we can send an actual DOM "reset" event to the form, or something? If not, perhaps we can use an Angular event somehow? Just some ignorant and probably irrelevant ideas... :P

[2015-08-02 21:13] jonsamwell commented on #39
@abobwhite Sorry for the late reply this should now be fixed in the latest release v1.18.8

[2015-08-02 21:18] jonsamwell commented on #82
@jonkri I've re-worked this a little as you suggested an when the reset is request is just resets the form as per normal which takes care of the model as well as the visual state just as it the user pressed a form reset button.  You can still reset the form via the resetForm method on form controller's autoValidateFormOptions object or raise an event on the scope in the form of 'form:{formName}:re

[2015-08-02 21:18] #82 closed

[2015-08-02 21:20] jonsamwell commented on #82
Sorry this is release in v1.18.8 https://github.com/jonsamwell/angular-auto-validate/releases/tag/v1.18.8

[2015-08-02 21:20] #72 closed

[2015-08-02 21:23] jonsamwell commented on #68
@pjwalmsley  see #82 for a way to programatically trigger a form reset.

[2015-08-02 21:24] jonsamwell commented on #68
@pjwalmsley reseting the form using the one of the methods described in #82 might actually solve this problem please let me know.

[2015-08-02 21:55] #68 closed

[2015-08-02 21:57] jonsamwell commented on #68
I've now made sure the the original force value in the validation options is set after the validation so hopefully this error is fixed (https://github.com/jonsamwell/angular-auto-validate/blob/master/src/services/validationManager.js#L157).  See latest release https://github.com/jonsamwell/angular-auto-validate/releases/tag/v1.18.9

[2015-08-02 21:59] jonsamwell commented on #82
Just made a tweak so that the form is set to pristine and untouched.  See latest release https://github.com/jonsamwell/angular-auto-validate/releases/tag/v1.18.9

[2015-08-02 22:05] jonsamwell commented on #61
@slupekdev That would do the same thing.  Or am I missing something?

[2015-08-02 22:36] jonsamwell commented on #61
@slupekdev - I seem what you meant with the above code.  Thanks for looking at the issue.

This issue is now fixed in latest release https://github.com/jonsamwell/angular-auto-validate/releases/latest

[2015-08-02 22:36] #61 closed

[2015-08-02 22:46] jonkri commented on #82
Brilliant! Thanks!

I actually realized that I preferred to use the form controller rather than the event. After playing around with it for a bit, I think I prefer the safety from passing an object to relying on getting a string right (and keeping it up-to-date). It's also using less state than simply passing nothing. Just some thoughts...

There seems to be one last problem though. If I fill in t

[2015-08-03 00:39] jonsamwell commented on #82
@jonkri I think it good having both options to do the reset so thanks for suggesting it.

Does the form reset before you leave the input field after pressing enter?

[2015-08-03 15:08] jonkri commented on #82
Ah, OK, good. :)

Yes, it does reset. After pressing Enter (and the reset), the input field is focused and without errors, but when I leave the input field, the error appears.

[2015-08-10 08:42] MayGo opened #83 "Problem with overriding ngModel and using ngModelOptions in another directive"
When using angular-material directive mdSelect with  ng-model-options="{trackBy: '$value.code'}" then $options is undefined in mdSelect directive.

codepen: http://codepen.io/MayGo/pen/aOMLEW

In angular-material.js (http://codepen.io/MayGo/pen/yNwzwJ.js)  i log to console:
console.log("There is ngModel.$options when you browse object in chrome developer tools. But not directly ngModel.$options")

[2015-08-10 11:25] jonsamwell commented on #83
What version of angular are you using?

[2015-08-10 11:27] jonsamwell commented on #83
What is actually going wrong?

[2015-08-11 05:15] MayGo commented on #83
angular 1.3.15
tmp.myObj is not displayed in mdSelect because ng-model-options="{trackBy: '$value.code'}" is not working.
I have  debugged the problem, and problem is in 'ngModelDirective' decorator, without it everything works.

[2015-08-11 05:55] jonsamwell commented on #83
Do you know what is going wrong in the ngModelDirective decorator?

[2015-08-11 06:27] MayGo commented on #83
That i don't know

[2015-08-11 07:48] jonsamwell commented on #83
I'll try and debug the plunker later :-)

[2015-08-11 12:06] fabm22 opened #84 "Range of browsers supported? Support for IE <11 ?"
Hi,

I have no plunkr (right now) but some colleagues report me that auto-validate doesn't *seem* to work  on IE prior to version 11 ....

It did brought to my attention that there's not seem to be any mention of level of support in browsers around in the doc. No issues neither.

Is there any known bugs with some browsers such as IE 10 ?
Should, normally, angular-auto-validate work with IE 10 ?

T

[2015-08-11 12:29] jonsamwell commented on #84
Works for me on ie8-11 in multiple projects

What seems to be the issue?
On 11 Aug 2015 22:06, "fabm22" <notifications@github.com> wrote:

[2015-08-12 00:52] jonsamwell commented on #84
Hi @fabm22

I've confirmed it works in ie8,9,10&11.  You can try for yourself here (this is an app that supports all the way down to ie8)

https://app.easilog.com

Let me know what issues you are seeing.

[2015-08-12 17:20] fabm22 commented on #84
Thanks for the confirmation @jonsamwell,

My colleague was testing with IE 10, with the quirks/dev modes that the developer tools of IE comes with (ie8 / ie9 / ie10 /Edge if I'm right) and modes before Edge seemed to create errors.

Also you DID mention IE8/older IEs in the website (http://jonsamwell.com/dynamic-angularjs-validation/, NgModelOptions Support section), sorry.

Anyway thanks for clea

[2015-08-13 01:33] jonsamwell commented on #84
Yeah let me know :-)

Closing for now though

[2015-08-13 01:33] #84 closed

[2015-08-17 17:33] ruscinc commented on #67
fabm22 , you said that was using
```< ANY ng-repeat="x in list" ng-form="formName{{$index}}" >```
 I had the same problem and I fixed dividing in two directives:
```< div ng-repeat="x in list">```
```<ng-form="formName{{$index}}" >```

ngForm directive  is actually an alias for the form directive required, and can be referenced using any of these:

[code]

[2015-08-20 02:37] jonsamwell commented on #67
@ruscinc sounds like a sensible solution

[2015-08-20 03:38] jonsamwell commented on #83
@MayGo I am looking at this now.  First thought is that the track-by in the ng-model-options on the md-select directive is not a valid option (See https://code.angularjs.org/1.3.15/docs/api/ng/directive/ngModelOptions).

ng-model-options="{trackBy: '$value.code'}"

I've taken this out but it still doesn't work.  I'll debug this now.

[2015-08-20 04:42] jonsamwell commented on #83
OK ignore my comment above I didn't realise that angular-material allows you to add a track-by value in ngModelOptions.  I have now fixed this issue.  It turned out to be the execution order of the pre and post functions in the ngModelDecorator which has now been fixed.  If you get the latest version it now works (v1.18.11)

[2015-08-20 04:42] #83 closed

[2015-08-20 04:49] jonsamwell commented on #74
No plunker so can't replicated.  Please re-open when you have an example

[2015-08-20 04:49] #74 closed

[2015-08-20 04:50] jonsamwell commented on #74
PS I've changed the way the ngModelDecorator works which was causing a problem with other angular libraries (angular-material) so it might be worth trying this again.

[2015-08-20 08:36] jgesser commented on #66
It would be really great have this feature. Any news about merging the PR?
Thanks!

[2015-08-20 08:40] jonsamwell commented on #66
@jgesser I was having a look today at @wkwiatek branch with this in.  Unfortunately the PR with it is massive and contains lots of other functionality so it will be a hard one to merge.  I'll look at just getting this in this evening.

[2015-08-20 08:54] jgesser commented on #66
great @jonsamwell :)
I can make some tests when it is done.

[2015-08-21 02:59] jonsamwell commented on #54
Finally done!!! See http://plnkr.co/edit/R4vGhrSYvKJREMV7Q4rC?p=preview

[2015-08-21 02:59] #54 closed

[2015-08-21 03:11] jonsamwell commented on #66
@jgesser @wkwiatek This in finally working (sorry for the delay).  You'll find it in the latest release (v1.18.13) and here is a working plunker http://plnkr.co/edit/S5YTRYPQM8unAjDHLsxR?p=preview

Basically just add the attribute 'validate-on-form-submit="true"' to the form node.

[code]

Or you could just change the libraries default value for it here

https://github.com/jonsamwell/angular-auto-

[2015-08-21 03:11] #66 closed

[2015-08-21 03:12] jonsamwell commented on #62
@jonagoldman Finally getting around to this and going to use the wiki for this.  Should be done in a few days

[2015-08-21 03:13] jonsamwell commented on #66
I'll be adding this to the new documentation I'm doing in the next few days.

[2015-08-21 03:13] jonsamwell commented on #79
Working plunker here for your reference http://plnkr.co/edit/R4vGhrSYvKJREMV7Q4rC?p=preview

[2015-08-21 13:34] wkwiatek commented on #66
Thanks!

[2015-08-21 20:04] jgesser commented on #66
Thank you @jonsamwell .

The configuration through the attribute is working very nice.

But changing the default options isn't working as expected because the default values are overwritten in the function parseOptions, just after have been copied:
https://github.com/jonsamwell/angular-auto-validate/blob/master/src/directives/autoValidateFormOptions.js#L11

Please let me know if I am doing somethi

[2015-08-22 22:04] jonsamwell commented on #66
Hi @jgesser no you aren't doing anything wrong that is definitely another bug.  Fixing it now :-)

[2015-08-23 06:59] jonsamwell commented on #66
@jgesser I've now fixed this get the new release (v1.18.14) and it is working.  I've done a plunker as a working example http://plnkr.co/edit/1aNcoJkWfpMpfJrcXS2T?p=preview

[2015-08-23 12:13] jgesser commented on #66
Great @jonsamwell.
Working perfectly now.
Thanks!

[2015-08-24 00:26] jonsamwell commented on #66
Awesome!

[2015-08-31 11:39] MayGo opened #85 "ngModelOptions and supportsNgModelOptions logic mistake"
I think ngModelDirective has logic mistake with using supportsNgModelOptions  in row:
https://github.com/jonsamwell/angular-auto-validate/blob/e12541b17bf7e7ce32e2547a1e8fdd95d445d2eb/src/config/ngModelDecorator.js#L37

There should be NOT supportsNgModelOptions.
if (!supportsNgModelOptions || ngModelOptions === undefined || ngModelOptions.updateOn === undefined || ngModelOptions.updateOn === '')

[2015-08-31 11:44] jonsamwell commented on #85
Yep this looks like a mistake.  I'll correct and push a release out

[2015-09-01 02:11] jonsamwell commented on #85
Fixed in V1.18.15

[2015-09-01 02:11] #85 closed

[2015-09-01 13:04] JaydroidBot opened #86 "Validate Password Match"
How do you validate two input fields to ensure they match e.g. when you have a password input and a password confirm?

[2015-09-01 13:19] jgesser commented on #86
You can create a directive to handle this:
[code]

[code]

[2015-09-02 10:13] jonsamwell commented on #86
@jgesser Thanks for this
@JaydroidBot I've created a plunker for this which also shows how to add a custom error message for this new validator

http://plnkr.co/edit/W1NFc8tRueMEzJrpOUeZ?p=preview

[2015-09-02 10:13] #86 closed

[2015-09-02 10:17] jonsamwell commented on #71
@jagadeshpaladugula I'm planning to look into adding this functionality this week.

[2015-09-03 18:20] ericpolkadoc opened #87 "support for radio/checkbox groups?"
Hi,

This seems to work great for text inputs, but Im having some issues with radio and checkboxes -- does this currently support it?

If so can you please post an example?

Thanks!

[2015-09-03 22:56] kefran06 opened #88 "el[0].hasAttribute is not a function"
Hi,

I have a problem when you receive a nodeName :#comment, nodeValue:  ngIf: isOpen "
That give me an error el[0].hasAttribute is not a function

Stack :

TypeError: el[0].hasAttribute is not a function
    at shouldValidateElement (jcs-auto-validate.js:847)
    at Object.validateElement (jcs-auto-validate.js:892)
    at jcs-auto-validate.js:1265
    at jcs-auto-validate.js:494
    at angular.js

[2015-09-03 23:05] jonsamwell commented on #88
Hi, could you do a plunker which reproduces the error then I can fix it.

You can use this plunker as a template.

http://plnkr.co/edit/pITG8H4mbLLl9B8YdOkY?p=preview

[2015-09-04 00:06] jonsamwell commented on #88
Fixed in the latest release (v1.18.16)

[2015-09-04 00:06] #88 closed

[2015-09-04 00:09] jonsamwell commented on #87
Fixed in the latest release v1.18.16

Here a plunker to demonstrate

http://plnkr.co/edit/HG0PoiRkEgbv2wCrLxLd?p=preview

[2015-09-04 00:09] #87 closed

[2015-09-04 00:46] kefran06 commented on #88
wow so fast! I love your module!

[2015-09-04 01:29] jonsamwell commented on #88
Thanks!

On Fri, 4 Sep 2015 10:46 kefran06 <notifications@github.com> wrote:

[2015-09-04 02:12] ericpolkadoc commented on #87
Hi --

So I was close -- and it works great now, however the error message is prepending the last label, in the last radio button.  Here's a snippet, if you could let me know your thoughts that would be great.

If it makes any difference, Im building the list dynamically using ng-repeat.

    <div ng-if="formQuestion.elementType == 'radio'" class="form-group">
        <div ng-repeat="option in for

[2015-09-10 17:10] caferrari opened #89 "Validator dont work correctly when the input is inside an ng-repeat"
I have to validate a collection of inputs, but the validator validate "all at once", and shows the message only on the first one... is there a way to prevent this problem?

[code]

[2015-09-10 20:50] schlegel opened #90 "(External) Form Level Validation"
Hi,
thanks for the great library!

Is there a way to integrate form level validation as well? For instance I get a server side validation which can't directly be associated with one specific element. E.g. (Username/Password missmatch, Timeout, ...) . The setExternalValidation method only is available on formCtrl children. But I would like to use it directly on the form to show global error message

[2015-09-14 21:51] aronrodrigues opened #91 "Does it have any CDN?"

[2015-09-15 17:34] sanjayhallan opened #92 "TypeError: Converting circular structure to JSON"
Hi,

When I load jcs-auto-validate.js via HTML in a chrome for both version 1.18.13 and 1.18.14 the console prints out:
TypeError: Converting circular structure to JSON
    at Object.stringify (native)

Is anyone else experiencing this? before I add some more detail.

I am referencing via maven webjar using wro4j for minification.

Thanks
Sanjay

[2015-09-15 21:04] jonsamwell commented on #92
Hi,

I don't think the library does an Object.stringify anywhere?

In either case I'd upgrade to the latest release (v1.18.16) and still if this is still an issue.  If it is could you do up a reproducing plunker and I'll get it fixed :-)

[2015-09-15 21:22] jonsamwell commented on #89
Hi,

I'm doing this exact scenario so I know it is working OK.  I think what is happening is the the structure of your html is not what the BS3 element modifier is expecting.  It is expect every element to be wrapped in a 'form-group' parent element as per the BS3 docs.

https://github.com/jonsamwell/angular-auto-validate/blob/master/src/services/bootstrap3ElementModifier.js#L126

See:
http://getb

[2015-09-15 21:23] jonsamwell commented on #89
I think the html should look something like this in your case

[code]

[2015-09-16 01:12] caferrari commented on #89
Thanks @jonsamwell, that was the problem =) and sry for not figuring it out myself =/

[2015-09-16 01:13] caferrari commented on #91
You can use the https://rawgit.com/

[2015-09-16 02:55] jonsamwell commented on #91
Thanks @caferrari

@aronrodrigues

Use this url
https://cdn.rawgit.com/jonsamwell/angular-auto-validate/master/dist/jcs-auto-validate.min.js

[2015-09-16 02:55] #91 closed

[2015-09-16 02:56] jonsamwell commented on #89
No worries!

[2015-09-16 02:56] #89 closed

[2015-09-16 02:57] jonsamwell commented on #90
Currently no you would have to do some custom code at the point of getting the form level validation message back.  You could make you're own element modifier which has some special logic for this.

[2015-09-16 02:57] #90 closed

[2015-09-16 18:52] sanjayhallan commented on #92
Its also happening with v1.18.16. 1.18.6 works fine. But reproducing it is inconsistent... grrr

[2015-09-16 21:05] jonsamwell commented on #92
What the stack trace when it happens?  Does it only happen when minified?

[2015-09-17 07:39] yichengjie opened #93 "<select> or <input type ='radio' valid show page not satisfaction"
if my form  contain  radio  or  select ， hava no  good method to show   valid tip  in t
![qq 20150917153814](https://cloud.githubusercontent.com/assets/11714828/9927564/36785f56-5d52-11e5-9786-4e38953732d2.png)
he page

[2015-09-18 11:48] dhiraj commented on #71
Any ideas on how to make this work with values that are passed into the error message? In the exact same scenario above, I want to show the value that is invalid.

For example, instead of saying **"Username already exists"** I want to say **"Username {*typed_username*} already exists"** where what the user typed (and we validated with server query) is shown so that there is no doubt.

[2015-09-20 21:29] jonsamwell commented on #92
Any further information?

[2015-09-24 22:10] qbunia opened #97 "disableDynamicValidation does not work"
Hello,

I debugged a little your code and found that actualy disableDynamicValidation is not working. It is because:
function parseOptions(ctrl, validator, attrs) {
  var opts = ctrl.autoValidateFormOptions = ctrl.autoValidateFormOptions || angular.copy(validator.defaultFormValidationOptions);
  opts.formController = ctrl;
  opts.forceValidation = false;
  opts.disabled = !validator.isEnabled() ||

[2015-09-24 23:22] qbunia commented on #97
I should have write disable-dynamic-validation instead of disableDynamicValidation in form attribute. Can you update wiki page with method references and help ?

[2015-09-24 23:22] #97 closed

[2015-09-25 06:07] jonsamwell commented on #97
Sure!

[2015-09-25 06:08] jonsamwell commented on #97
I'm updating the wiki if you feel like giving me a hand?

[2015-09-29 20:15] yassM commented on #75
I am trying to trigger validation from the controller but not from ng-submit, I have injected the validation manager in my controller as follows:
[code]

[2015-09-30 10:07] LeleDev commented on #71
+1

[2015-09-30 11:19] jonsamwell commented on #71
Sorry all been really really really busy at work but I will get around to this next week

[2015-09-30 11:20] jonsamwell commented on #71
@dhiraj would you just want to use the value from the ng-model that is on the control?

[2015-09-30 11:33] jonsamwell commented on #75
Hi @yassM

The validateForm method takes in a form element I would assume that $scope.myForm is a controller?

https://github.com/jonsamwell/angular-auto-validate/blob/master/src/services/validationManager.js#L144

[2015-09-30 12:04] yassM commented on #75
Hi @jonsamwell
Thank you for your help, $scope.myForm is the form not a controller,
I have my HTML form like:
`<form name="myForm">`
and access it from the controller like this:
`$scope.myForm`
I actually do the following, to check if form is valid
[code]
it works well for validation, but it does not change the styles of the inputs.

[2015-09-30 12:11] jonsamwell commented on #75
Hi @yassM

The $scope.myForm is the form controller not the form element.  The validation manager need the form element not the form controller.  So without passing the actual element into the validationManager.validateForm method it will not change the styles.

[2015-09-30 12:37] dhiraj commented on #71
@jonsamwell Well yeah, that's what I came to the issue with. Just that would solve my particular problem.

[2015-10-02 23:04] qbunia commented on #97
@jonsamwell  sorry right now I dont have much time to help :(

[2015-10-05 14:23] yassM commented on #75
Thanks a lot @jonsamwell
and sorry for inconvenience, I managed to do it through you guidance, I passed the form element using:
`validationManager.validateForm(angular.element(document.querySelector('#patientForm')));`
That did the trick and fired the validation.

[2015-10-06 20:17] qbunia opened #99 "Prevent from validating disabled inputs"
Hello,

I having problem with disabling input from javascript and then validating it. I have checkbox that if its checked the input that is required is disabled. The problem is that before I check the checkbox I type something in input that is invalid, then I check checkbox and the disabled input is still in invalid state, even if I submit my form. Is there anything Iam doing wrong or maybe angula

[2015-10-06 23:37] jonsamwell commented on #99
Hi @qbunia,

The library does not have this functionality out of the box however it can be acheived by reseting the controls state using the validation manager.  Once the required flag changes to false you will have to call the resetElement method on the validation manager passing in the element.

https://github.com/jonsamwell/angular-auto-validate/blob/master/src/services/validationManager.js#L12

[2015-10-06 23:37] #99 closed

[2015-10-06 23:38] jonsamwell commented on #92
Closing as no further information provided.  Please feel free to re-open it a reproducing Plunker is provided

[2015-10-06 23:38] #92 closed

[2015-10-07 12:16] surendrand commented on #92
I am facing this issue. I just included 'jcs-autoValidate' in my angular module and refreshed the page.
Following is the stacktrace

TypeError: Converting circular structure to JSON
    at Object.stringify (native)
    at toJson (http://localhost:63342/Angular/js/angular.js:1234:15)
    at http://localhost:63342/Angular/js/angular.js:19067:12
    at fn (eval at <anonymous> (http://localhost:63342/

[2015-10-08 07:54] jonsamwell commented on #92
Could you do a reproducing Plunker?

[2015-10-08 11:07] elkami12 opened #100 "bootstrap3ElementModifier : Useless 'has-feedback' class when !addValidationStateIcons"
Hi,

First thanks for your work and sorry for my english...
I think that in bootstrap 3, 'has-feedback' class should not be added to form-group if we don't use validation state icons...

I think simply add a `|| !addValidationStateIcons` condition should do the job, no ?
[code]
in `#makeValid` and the equivalent in `#makeInvalid`...

What do you think of that and could you add this fix ?

Thanks !

[2015-10-13 18:12] leoalmar commented on #37
@jonsamwell you could change the default culture name to "default", like this:

#### angular-auto-validate/src/services/defaultErrorMessageResolver.js

[code]

[code]

Is not necessary to clear the messages, and if you want to use remote messages will work normally.

[2015-10-13 20:19] raphalupi commented on #88
Wow, that was awesome.
I just faced the same issue and you fixed that in no time.
Thank you for the fix on that one. Your module is amazing!

[2015-10-21 06:41] vinodache opened #103 "Performance Issue in IE10 due to FORM DOM elements"
Hi Jon
First of all, Thanks for the great utility. It is really great.
I had a query on the line below.

angular.forEach((frmElement[0].all || frmElement[0].elements) || frmElement[0], function (ctrlElement) {
        processElement(ctrlElement, true, clonedOptions);
       });

For IE10, I find that frmElement[0].all and frmElement[0].elements are both available and frmElement[0].all seems to hol

[2015-10-21 07:44] jonsamwell commented on #103
Seems like a good idea could you do a PR?

[2015-10-23 07:38] sblomstrand opened #105 "Inputs are validated even when outside a form"
First - awesome work creating this!

My issue:
Is there an option to only validate inputs inside a form?

I'm using bootstrap 3 and the console keeps logging "Angular-auto-validate: invalid bs3 form structure elements must be wrapped by a form-group class" for all fields that are not wrapped inside the "form-group" class (duh). But the thing is that I do not want to validate those fields at all (a

[2015-10-23 07:47] jonsamwell commented on #105
I thought at one point you could add a attribute to display the validation but it must have got refactored out by accident.  I'll look to put it back in but for now you could add the attributes to disable the visual styling. see http://jonsamwell.github.io/angular-auto-validate/#enabl-disable-styling

I'll try add add this feature back in in the next week :-)

[2015-10-23 07:52] sblomstrand commented on #105
Perfect, thanks for the quick response!

[2015-10-23 07:59] sblomstrand commented on #105
Adding the attribute disable-valid-styling="true"
gives me the error:
TypeError: Cannot read property 'find' of undefined
    at reset (jcs-auto-validate.js:288)
    at Object.makeDefault (jcs-auto-validate.js:446)
    at makeDefault (jcs-auto-validate.js:267)
    at makeValid (jcs-auto-validate.js:252)
    at Object.validateElement (jcs-auto-validate.js:851)
    at jcs-auto-validate.js:1091
    a

[2015-10-24 15:36] surendrand commented on #92
Please find the attached project

On Thu, Oct 8, 2015 at 1:24 PM, Jon Samwell <notifications@github.com>
wrote:

[2015-10-24 15:56] surendrand commented on #92
can be reproduced from
https://github.com/surendrand/angular-auto-validate-issue.git

On Thu, Oct 8, 2015 at 1:24 PM, Jon Samwell <notifications@github.com>
wrote:

[2015-10-24 20:22] jonsamwell commented on #103
Will be fixed in next release

[2015-10-24 20:22] #103 closed

[2015-10-24 20:29] jonsamwell commented on #100
Fixed in release v1.19.0 :-)

[2015-10-24 20:29] #100 closed

[2015-10-24 20:31] jonsamwell commented on #93
Looks like you will just need to set the has-feedback icon the float:right.  If not please do a plunker to reproduce the error.

This works fine

http://plnkr.co/edit/HG0PoiRkEgbv2wCrLxLd?p=preview

[2015-10-24 20:31] #93 closed

[2015-10-24 20:33] jonsamwell commented on #37
Should be fixed in v.1.19.0 please let me know

[2015-10-24 20:33] #37 closed

[2015-10-24 21:51] jonsamwell commented on #105
You can now add disable-auto-validate="true" to the element and it won't validate.  You'll need the latest version v1.19.0

I cannot reproduce the above error you are getting.  Could you do a plunker for me and I'll fix.  Thanks!

[2015-10-24 21:51] #105 closed

[2015-10-24 21:53] jonsamwell commented on #92
Fixed in v1.19.0

[2015-10-26 17:24] Hacktivista opened #107 "Link on documentation goes nowhere"
The attached image explains it better :)
![2015-10-26-142302_1366x768_scrot](https://cloud.githubusercontent.com/assets/5282749/10736719/3e54b9b8-7bed-11e5-828a-0ca0523b89b3.png)

[2015-10-27 14:43] kamalpatel125 opened #108 "Could you please publish on npm repository ?"
Hi Jon,

Would it be possible to publish on npm ?  Also, Does it support angular material design ?

Kind Regards,

Kamal.

[2015-10-27 15:22] dustin-page commented on #100
Thanks for the fix. I just ran into this issue and 'has-feedback' class was cutting off my text in the input when displaying errors.

[2015-10-27 20:17] jonsamwell commented on #108
Hey Kamal, I'll sort this out for you now!  I've had a few issues come up with devs using it with angular material design so I think it should.  If not let me know.

[2015-10-27 20:22] jonsamwell commented on #108
Sorted!

https://www.npmjs.com/package/angular-auto-validate

[2015-10-27 20:23] kamalpatel125 commented on #108
Hi Jon,
Thanks for looking at this and please let me know if I can contribute you anywhere in this.

Appreciate your help !

Thanks

Kamal Patel

[2015-10-27 20:23] #108 closed

[2015-10-27 20:24] jonsamwell commented on #108
If you need any more feature for it feel free to add them or let me know.  I really need to update the documentation and plunker examples see https://github.com/jonsamwell/angular-auto-validate/wiki/Getting-Started

[2015-10-27 20:31] jonsamwell commented on #108
@kamalpatel125 I think you'll need to do a custom element modifier for material design so once you have done it could you do a pr and commit it back to this repo?

[2015-10-28 07:40] Hacktivista commented on #71
+1!

[2015-11-04 10:55] dhiraj opened #109 "Translation strategy for custom validation messages translated using angular-translate"
I've got custom validation error messages that are shown with angular-auto-validate, as per earlier issues #71  and #96 and now I'm implementing translations using the angular-translate in my app.

I need to translate my custom error validation messages, but can't figure out a clear strategy to do the same.

Ideally, I'd like to have my custom error translations load using the normal angular-trans

[2015-11-04 20:52] jonsamwell commented on #109
Hi @dhiraj

The setCulture method takes in a loading function that you could use to stop the default loading path and construct the object using angular translate.  See

https://github.com/jonsamwell/angular-auto-validate/blob/ac04a5d19b9971de463900a21ee278971bffb2ec/src/services/defaultErrorMessageResolver.js#L72

The code may look something like this:

[code]

[2015-11-04 20:52] #109 closed

[2015-11-06 15:28] dustin-page commented on #15
This works for overwriting the error message for an input with 1 type of pattern, but usually my forms have multiple inputs with regex pattern attributes and I would like user-friendly error messages for each of them. Is there any way to get this to work?
Examples:
Phone Number:
Soc Security Number:
Zip Code:
Account Number:

[2015-11-10 13:55] reda-alaoui opened #110 "Add an option to automatically scroll to the first faulty input"
Hello,

It would be cool that a failed form submit triggers an automatic scrolling to the first faulty input.

Is it possible to have an option to enable this behaviour?

Regards

[2015-11-10 23:55] #110 closed

[2015-11-12 13:50] evanjmg commented on #107
Please fix. Bump

[2015-11-12 20:29] jpmckearin commented on #86
@jgesser always give credit where it's do... http://odetocode.com/blogs/scott/archive/2014/10/13/confirm-password-validation-in-angularjs.aspx

[2015-11-12 21:03] jgesser commented on #86
@jpmckearin I don't remember taking code from there, but it is really very similar. I'm sorry any way, I should pay more attention.

[2015-11-13 16:29] anatolibarski opened #112 "async validation with updateOn={'blur'} doesn't work"
Hi, I love the library, but one thing does not work for me:

I use ui-validate-async (just an asynchronous validator) together with angular-auto-validate.

Everything works without updateOn={'blur'}, but when I use it, the validator is executed and rejects the promise, but angular-auto-valdiate resolve function does not get called untill a second blur event (I need to click around for this)

[2015-11-13 18:48] jonsamwell commented on #112
Could you do a plunker that reproduces the error and i'll get a fix in.

Thannks

[2015-11-16 14:24] nazrul074 commented on #64
Hi,
I tried as per @abobwhite answer but it did not worked. I have created a plunk http://plnkr.co/edit/3hQYWkax5X9HUKRbIT3t?p=preview. Please check the Plunker  example for multi select control. Also it does not reset the controls for UI.Select controls when reset form but is triggered.

[2015-11-20 14:48] anatolibarski commented on #112
I will but too busy at the moment, may be the problem is even easier to reproduce:

when I use

$scope.form.modelName.$setValidity('key', false),

I will not see the validation error first. I need to click around first.

[2015-11-20 14:55] anatolibarski opened #113 "Validation Summary/Backend validation"
Hi I would like to propagate Backend Error to a Frontend Validation Error. For a specific input control with ng-model, using $setValidity('key', false); $setDirty(); works.

But if I cannot match an error to a specific control, with angular I am able to use $setValidity with the form instead of ng-model. But those errors are not displayed by angular-auto-validate?

Do you have a solution for this

[2015-11-20 15:09] jonsamwell commented on #113
Hi @anatolibarski,

Yes you can use setExternalValidationError on the ngModel controller. See

https://github.com/jonsamwell/angular-auto-validate/blob/master/src/config/ngModelDecorator.js#L61

There isn't any documentation for this yet but I will get around to it one day.

Jon

[2015-11-20 15:09] #113 closed

[2015-11-20 15:11] jonsamwell commented on #113
You can also see the tests here

https://github.com/jonsamwell/angular-auto-validate/blob/master/tests/config/ngModelDecorator.spec.js#L162

[2015-11-25 08:32] TNT-Likely opened #115 "some input no validation,why validate?"
some input no validation,why validate?

wish someone can help me ,thanks

[2015-11-25 08:44] jonsamwell commented on #115
Sorry I have no clue what you mean please provide a plunker

[2015-11-25 08:53] TNT-Likely commented on #115
![qq 20151125165241](https://cloud.githubusercontent.com/assets/9278923/11392474/fcdb2872-9394-11e5-8602-7310465b648b.png)

[2015-11-25 09:00] jonsamwell commented on #115
Please do a reproducing plunker.

[2015-11-25 09:22] jonsamwell commented on #115
This seems ok to me

http://plnkr.co/edit/BY57X2C7O0OQs0VO3956?p=preview

See the Nickname field.  It does not have a required attribute on it and is validated OK.  If you mean you don't want it to be validated at all unless it has some text in it the library cannot do that.  You would need to create a custom dom modifier to determine this.  Or you could mark the field with the disable-valid-styli

[2015-11-25 09:29] TNT-Likely commented on #115
thanks,maybe some other plugins was wrong.

[2015-11-25 09:29] #115 closed

[2015-11-25 09:45] jonsamwell commented on #115
No worries :-)

[2015-11-30 14:34] brunomusso91 opened #116 "Reset doesn't erase values, only make them invisible"
![image](https://cloud.githubusercontent.com/assets/16084074/11474299/0c02fed2-9756-11e5-9c25-daed0dddc561.png)
After i hit the reset i expected that all fields get to its original value, but only make them invisible to the user

[2015-11-30 17:20] jonsamwell commented on #116
It must not be actually clearing the ng-model values - I'll take a look at this

[2015-11-30 18:25] jonsamwell commented on #112
updateOn={'blur'} is invalid it should be updateOn='blur' see https://docs.angularjs.org/api/ng/directive/ngModelOptions.

[2015-11-30 19:40] jonsamwell commented on #112
This seems to work OK (async validator with update on blur)

http://plnkr.co/edit/nYX48wdfdN78C1EJH73s?p=preview

[2015-11-30 20:32] jonsamwell commented on #112
I think I've fixed it!!!
Try getting v1.19.3

[2015-12-01 08:18] #112 closed

[2015-12-02 14:40] nettino commented on #55
Any fix for this please?

[2015-12-02 15:24] jonsamwell commented on #55
Sorry I completely forgot about this bug - I'll take a look

[2015-12-05 19:30] nettino opened #117 "Integrating into Legacy Applications doesn't work for nested forms"
Described in here: https://github.com/jonsamwell/angular-auto-validate/wiki/Integrating-into-Legacy-Applications

Validation won't work for forms nested with ng-form

[2015-12-05 22:23] jonsamwell commented on #117
Hi @nettino could you do a reproducing plunker as I'm not quite sure of the specific scenario you are referring to.  Are you nesting an ng-form within a form and only want the nested ng-form to validate?  Once I've got that I'll fix asap.  You can use the below plunker as a template

http://plnkr.co/edit/R4vGhrSYvKJREMV7Q4rC?p=preview

[2015-12-08 17:02] nettino commented on #117
Hi @jonsamwell,
Thank you for the prompt answer. You can take a look here: http://plnkr.co/edit/BEcLGvvzNHlag7kmPdBN?p=preview

[2015-12-09 17:12] jonsamwell commented on #117
Great thanks for this - I'll take a look.  As a quick fix it seems to work if you the ng-form attribute is an element not an attribute.

I'll let you know when this is resolved.

Thanks,

Jon

[2015-12-09 17:19] nettino commented on #117
Hi,

Thank you for that - indeed that works if it's element. Although, of course
it would be great if it worked in both cases - I'm sure you'll find the
problem sooner or later.

Kind regards,
--
Karol

On 9 December 2015 at 17:12, Jon Samwell <notifications@github.com> wrote:

[2015-12-10 19:48] jgesser opened #118 "Focus first invalid field on submit"
It would be nice if we could set an option, in one specific form or globally, to make the first invalid input focused when the form is submitted.

BTW: This project is awesome. It is helping me a lot. Congratulations for the great job you are doing here.

[2015-12-11 17:10] nettino opened #119 "Dependant field always valid if required by default"
http://plnkr.co/edit/XRDdGdRNQp8CxSc680n2?p=preview
Way to replicate: Submit the form and then switch "Name required?" checkbox - it retains class has-success, although the field is toggled between ng-valid/invalid.

[2015-12-23 05:40] deepakmani opened #121 "Unable to run auto-validate"
Hi Sir,

Thanks for your module.
 I created a form like this in my HTML:

[code]

when I enter data into the form I get this message in the console:
Angular-auto-validate: invalid bs3 form structure elements must be wrapped by a form-group

Can you suggest where to look into? Also is there a way to run validation when the form is loaded itself?

Thanks,
Deepak

[2015-12-23 07:16] jonsamwell commented on #121
Hi Deepak,

You will need an ng-submit attribute on the form.  By default the module uses a bootstrap 3 element modifier.  An element modifier is responsible for visually altering an element depending on it validation state.  For example when it is valid it would have a green border etc.  Therefore, it you are using bootstrap 3 you will need to either adhere to bootstrap's  convention of form layo

[2015-12-23 07:16] #121 closed

[2015-12-23 07:18] jonsamwell commented on #118
Thanks for your feedback and sorry for the delay in responding.  Focusing the first invalid input could be done with a custom dom modifier (see http://jonsamwell.github.io/angular-auto-validate/#custom_dom_modifiers) so I doubt I'll put this into the core library.  Although it you fancy doing a pull request that would be great!

Have a good new year!

Jon

[2015-12-23 07:18] #118 closed

[2015-12-23 10:58] deepakmani commented on #121
Thank you for the detailed reply Jon! After  using form-group and
form-control it is working like a charm! I didn't need a button of type
submit or ng-submit.
I had taken the html from your github page, perhaps you can update that bit.

Also, is there a way to run validation as soon as the form loads, so that I
can see errors of a pre-loaded form.

Thank you,
Deepak

On Wed, Dec 23, 2015 at 12:46

[2015-12-29 17:25] dsargent3220 opened #125 "Custom external validation dissapearing"
OK, this one is a stretch but I'm pulling my hair out here.
I have a directive for phone number validation that calls an API.  I'm using ctrl.setExternalValidation('phone', 'validateSelPhone');
to show the error message when the validation fails.  It seems to work they way I want EXCEPT about 80% of the time the error message flashes up for just a split second.  Something is removing the block tha

[2015-12-29 18:32] dsargent3220 commented on #125
I've sorta got it fixed but am not happy with it.  Something is still "going on".
I fixed it by adding a setTimeout.
[code]
The strange thing about it is that with each keypress the error goes away for a split second then is shown again (if it's invalid), but in the Plunk the error message does not flicker or get removed until removeExternalValidaiton is called.
Something is removing it and I just

[2016-01-09 21:51] slupekdev commented on #64
Try override ui.select templates and for each input element add formnovalidate attribute

[2016-01-21 16:27] mchiareli commented on #75
Would be possible to validate not the entire form, but just few inputs?

[2016-01-29 08:15] SzilardVigh opened #127 "Force validation issue at reset form"
I need to use the force validation option because I have a dropdown which is working with a button and I must validate the button.

If you have activated the force validation, then after the reset form, it clears all of the values as is expected, but the valid and required elements turns to invalid, not only the force validated elements.
The second reset clears all.

If you check the force validat

[2016-02-17 08:24] go4varuntyagi opened #128 "Validation is failing intermittently"
On my page validation is failing intermittently. I have found that **"frmCtrl.autoValidateFormOptions.disabled**" is getting true sometimes due to which validation process is not getting triggered.

Found this condition in source file.

                        if (frmElement === undefined || (frmCtrl !== undefined && frmCtrl.autoValidateFormOptions.disabled)) {
                            return f

[2016-02-17 08:43] jonsamwell commented on #128
Could you do a reproducing plunker so I have something to debug?

[2016-02-19 12:31] bhavesh-vyas opened #129 "Validation is failing when page reloads"
Everything working fine, until user reloads the browser page..
I am unable to figure out why.

if we logout and then login form validation also doesn't work,
But if we reload here (on Login page) then it starts working again

But when the page is reloaded inside the dashboard it fails again...

I have just added the dependency in module and simply using required validation in html. nothing more is

[2016-02-21 22:12] jonsamwell commented on #129
Could you do a reproducing plunker.  I am using this on lots of sites and never seen this behaviour.

[2016-02-21 22:14] jonsamwell commented on #128
Not really sure how to progress this as I have not seen this behaviour or can reproduce it.  Waiting for a plunker that reproduces it....

[2016-02-21 22:17] jonsamwell commented on #127
Sorry for the late reply - I see the issue you are talking about.  I'll look for a fix

[2016-02-25 06:45] jlengwork commented on #129
Recommend this issue be closed.  The issue is not actually with angular-auto-validate, but with ocLazyLoad wiping out the decorators when modules are lazyloaded on a page refresh.

[2016-02-25 07:52] #129 closed

[2016-02-29 10:08] bhavesh-vyas commented on #80
Hi,

How to set updateOn : 'blur' by default. at app.run ?

[2016-02-29 10:21] jonsamwell commented on #128
Closing as no reproducing plunker provided so no way to debug.  Feel free to re-open when one is provided

[2016-02-29 10:21] #128 closed

[2016-02-29 10:22] jonsamwell commented on #80
http://jonsamwell.com/angularjs-set-default-blur-behaviour-on-ngmodeloptions/

[2016-03-09 15:25] Klerith commented on #82
This worked for me

<form name="loginForm" novalidate="novalidate" ng-submit="login(loginForm);">
  <input type="email" ng-model="vm.model.email" required />
  <input type="password" ng-model="vm.model.password" />
</form>

// this function is in your controller
function login(formController) {
  // reset the form.  This will not reset the data only the visual state of the form as it is bound to t

[2016-03-09 21:14] jpmckearin opened #130 "Tests fail with Angular 1.5.0 release"
If I change the angular and angular-mocks dependencies to 1.4.9 everything runs fine.

[2016-03-09 22:26] jonsamwell commented on #130
What fails and why.  Feel free to submit a PR to fix the issue(s)

[2016-03-10 00:14] jpmckearin commented on #130
Sorry for being vague about this. Seems to be a compatibility issue between angular 1.5.0 and PhantomJs 1.x. I will attempt to implement a fix and submit a pr.

[2016-03-10 01:27] jpmckearin opened #132 "Error with extending native String object with format method"
In defaultErrorMessageResolver.js, line 5, we extend the native String object to have a format function. On line 7, we reference this.replace. For some reason, I am suddenly getting an error that "this" is undefined. I'm not sure what change might have caused this...

[code]

![image](https://cloud.githubusercontent.com/assets/6679168/13656478/f0949748-e62c-11e5-9b53-b16dd5a2ec7f.png)

[2016-03-10 01:32] jpmckearin commented on #132
I know it's a matter of opinion, but shouldn't we just use a generic "formatString" function or similar instead of extending a native object? I understand it would remove some syntactic sugar, but would resolve issues such as this. Also, "format" is only used 4 times - all in the same file (defaultMessageErrorResolver.js.) If there is support for this, I don't mind submitting a pr.

[2016-03-10 01:50] #130 closed

[2016-03-10 01:51] jonsamwell commented on #132
Sure - I think in this case I would agree with you feel free to submit a PR to fix this.

[2016-03-10 05:08] #132 closed

[2016-03-12 14:14] bhavesh-vyas commented on #89
Hi,

How to deal with such condition,  when we want to show server side validation error msg.?

[2016-03-14 10:18] bhavesh-vyas commented on #89
@jonsamwell ,

How to show server side validation errors when input is inside ng-repeat.

[2016-03-14 11:28] jonsamwell commented on #89
@bhavesh-vyas I'll try and do an example plunker tomorrow

[2016-03-14 16:03] bhavesh-vyas commented on #89
Ok,  thanks!

-Bhavesh
On Mar 14, 2016 4:58 PM, "Jon Samwell" <notifications@github.com> wrote:

[2016-03-15 06:43] bhavesh-vyas commented on #89
Hi @jonsamwell ,

Did you get chance to try?

[2016-03-15 07:15] jonsamwell commented on #89
@bhavesh-vyas This shows a very basic example of an async validator and setting external validation.

http://plnkr.co/edit/kjGjBchrXH7LDc7Sa6Kp?p=preview

[2016-03-15 11:42] bhavesh-vyas commented on #89
Dear Jon,

Problem is with when we using ng-repeat and serverside validation error occurs then we get that error msg array, the how to point that to the exact field[index] inside ng-repeat

[2016-03-23 06:51] bravenewworlds opened #134 "Bootstrap validation icon position for dropdown"
Bootstrap validation icon for dropdown appears in the wrong position in Forefox and Chrome. In IE11 everything is fine.

![Image](http://oi64.tinypic.com/286qvdj.jpg)

You can see the [Plunker](http://plnkr.co/edit/NgdTP0NC12CqubHzz9gC?p=preview)

[2016-03-24 08:22] maoting opened #135 "About the message"
Step One: For the input with required,when we click the button of submit,it will be displayed the message "required";
Step Two: I set the input value by code not inputing,the message always display

[2016-03-24 10:58] #135 closed

[2016-03-25 08:01] maoting opened #136 "the use of forceValidation"
$scope.$watch('vm.model.name', function() {
          $scope.vm.model.email = $scope.vm.model.name
})

When the error message is "This field is required", I set the value of email as above, but the message don't disappear.

In the "jcs-auto-validate.js" , I update "opts.forceValidation = true;", the message can disappear.

Can you explain for me the use of  "forceValidation"?

Thank you very much!

[2016-04-05 08:47] arung86 opened #139 "Documentation Issue"
in the Demo page, under Getting Started Section there is a typo,
Its written as "Install and manage AngularStrap with Bower." this was supposed to be _**"install and manage angular-auto-validate with Bower."_**

[2016-04-06 02:18] jonsamwell commented on #139
Thanks for this - I've just accepted your PR request :-)

[2016-04-06 02:18] #139 closed

[2016-04-14 08:40] arung86 commented on #134
you can add a simple class to adjust the right positioning ,
[code]
Bootstrap documentation says,

Manual positioning of feedback icons is required for inputs without a label and for input groups with an add-on on the right.

so hope this helps, the above solution works fine with IE also.

[2016-04-18 02:47] ricardocarvalho80 opened #141 "Update Nuget"
This is nice lib.
Do you will no longer update the nuget package? there is still in version 1.13.22
thanks

[2016-04-19 13:45] #134 closed

[2016-04-26 09:05] RaviKaruturi opened #142 "Collect all error messages within a form"
We have nested forms and within a sub-form there are many input fields. Displaying inline error messages for all these input fields does not look nice in our case. So, we are thinking of displaying all error-messages at the top of the sub-form.
So,currently, is there a way to collect all of the error messages for a specific form?

[2016-05-04 13:30] Skinner927 opened #143 "Bootstrap3ElementModifier incorrectly always injecting styles into document"
On line https://github.com/jonsamwell/angular-auto-validate/blob/0b2d4b691ba978aa556a7ad2ed1c5fa9f2e901ce/src/services/bootstrap3ElementModifier.js#L31

The styles for animated icons are always injected even if you're not using bootstrap3ElementModifier.

Additionally, https://github.com/jonsamwell/angular-auto-validate/blob/0b2d4b691ba978aa556a7ad2ed1c5fa9f2e901ce/src/services/bootstrap3ElementMo

[2016-05-12 09:31] anhuisunfei opened #144 "ng-pattern not working"
[code]

[2016-05-12 09:40] jonsamwell commented on #144
No ng-model

On 19:31, Thu, 12 May 2016 anhuisunfei, <notifications@github.com> wrote:

[2016-05-12 11:20] #144 closed

[2016-05-13 01:50] anhuisunfei commented on #144
I want add customer error message!

[2016-05-13 02:21] jonsamwell commented on #144
Please read the documentation!

https://github.com/jonsamwell/angular-auto-validate/wiki/Custom-Validators-and-Error-Message

http://jonsamwell.github.io/angular-auto-validate/#overriding_error_message

[2016-05-13 06:03] anhuisunfei commented on #144
tanks!

[2016-06-03 12:43] himanshu56 opened #145 "How to place error messages to the right of form element?"
Its messing with the timepicker

![selection_003](https://cloud.githubusercontent.com/assets/10365144/15779546/9b30041e-29ba-11e6-8453-b047de0f7734.png)

[2016-06-08 08:42] #145 closed

[2016-06-13 08:45] bhavesh-vyas opened #146 "Can't validate on multiple tabs"
Is there any way to validate form fields on non active tabs

[2016-06-13 09:48] jonsamwell commented on #146
Yeah I think if you can get the form element you can validate it.

`validationManager.validateForm(formElement)`

[2016-06-13 09:49] jonsamwell commented on #146
You would have to do something like the ngSubmit decorator

https://github.com/jonsamwell/angular-auto-validate/blob/master/src/config/ngSubmitDecorator.js#L25

[2016-06-13 09:51] jonsamwell commented on #142
Yeah you'd have to do a custom dom modifier to put all the element error messages in some common place

See http://jonsamwell.github.io/angular-auto-validate/#custom_dom_modifiers

[2016-06-13 09:51] #142 closed

[2016-06-14 05:19] bhavesh-vyas commented on #146
Can you please share any link to working example using above function

Also, do i need different forms for different tabs? Right now I am using single form, and ng-show for the div's (inside the same form) which act as tab, like below

<form ng-submit="submit()">
  <div ng-show="current_tab=='tab_1'">.....</div>
  <div ng-show="current_tab=='tab_2'">.....</div>
  ...
</form>

[2016-06-16 07:18] jonsamwell commented on #143
Thanks and sorted!  Any news on the BS4 modifier?

[2016-06-16 07:18] #143 closed

[2016-06-16 07:18] jonsamwell commented on #141
Sure I'll update it now

[2016-06-16 07:18] #141 closed

[2016-06-16 07:19] jonsamwell commented on #136
It is used to the the validation even if the form or element is valid

[2016-06-16 07:19] #136 closed

[2016-06-16 19:19] parker789 opened #147 "Can't validate on nested component forms"
Hey Jonsamwell,

I've been reading through issues for the past couple hours, and am finally at a loss.  In my application I use the new angular `.component()` to re-use code, some of which happen to be form components.  In most, if not all, these scenarios, the `<form>` is not within the component's template itself, but in the parent view where the component is instantiated:

[code]

I am trying t

[2016-06-16 20:34] jonsamwell commented on #147
Could you do me a basic plunker example and I will take a look today.
Thanks!

On 05:19, Fri, 17 Jun 2016 parker789, <notifications@github.com> wrote:

[2016-06-16 20:47] parker789 commented on #147
Well thank you! As I'm putting together a plunkr I realize'd the issue.. had a rogue `ng-submit-force="true"` still in my code from a demoable version.  Seems that everything was working all along. Will close this. :)

[2016-06-16 20:47] #147 closed

[2016-06-30 02:49] itsamritchahal commented on #125
I was having the same issue when I was using angular 1.5.7 but switching back to 1.2.29 fixed the issue. There seem to be a compatibility issue with the newer version of angular.

[2016-07-05 23:26] blakbarn opened #148 "Validation with fields filled in with password managers."
We have had several people complain because when they use password managers to fill in their username and password it will not update the model so the validation fails. Basically the model does not get updated in this case. They have to copy and paste the username and password manually. I know there is a bug is some browsers that does not properly set the event for updating the model when this hap

[2016-07-05 23:51] jonsamwell commented on #148
Works fine for me in chrome. Feel free to send in a PR or do a reproducing
plunker so I can debug

On 09:26, Wed, 6 Jul 2016 blakbarn, <notifications@github.com> wrote:

[2016-07-05 23:58] blakbarn commented on #148
Did you try it with the KeePass extension or the built in Chrome password
manager. The built in one works fine for me it is just ones like KeePass
the populate the field with javascript. They do not trigger the event to
update the model. I will see if I can create a quick plunker tomorrow.

Blake Barnett
Lead Web Developer

509.336.4434
blakbarn@selinc.com ? www.selinc.com

From:   Jon Samwell <no

[2016-07-06 00:17] jonsamwell commented on #148
No just chrome.  I would fill a bug report with the extension then as the
library is working as it should and the extension is most likely not
working correctly

On Wed, 6 Jul 2016 at 09:58 blakbarn <notifications@github.com> wrote:

[2016-07-09 07:16] samagit commented on #147
Hi Parker,
Could you share your example to show me how did you resolve it?
Thanks

[2016-07-11 06:32] flyingdew opened #149 "how to avoid the error 'invalid bs3 form structure elements' in a non-validation form"
I use bs3.
when I change the elements of a form that I don't want to validate,it always throws
'invalid bs3 form structure elements must be wrapped by a form-group class',
I want to know how to avoid this.

[2016-07-11 07:13] jonsamwell commented on #149
You must have an invalid BS3 form structure.  The BS3 element modifier is expecting form elements to be wrapped in a form-group class.  If you don't want to do this you'll have to create your own element modifier or copy the BS3 one and remove the code that checks the form is a valid bs3 structure.

https://github.com/jonsamwell/angular-auto-validate/blob/master/src/services/bootstrap3ElementModif

[2016-07-11 07:13] #149 closed

[2016-07-12 09:17] flyingdew commented on #149
Thanks for your quick response,I'll try it.

[2016-07-17 17:41] venkateshp1231 opened #150 "How to register a custom validation function?"
I am having a change password form.I am able to validate text fileds with required and regex validation, but how to compare new password and confirmnewpassword they must be same and also old password and new password should not match.How to add a custom validation function and use it?

[2016-07-22 20:07] titobf commented on #105
I was searching for something like the option disable-auto-validate="true". Is very useful. It's not included in the [Demo Page](http://jonsamwell.github.io/angular-auto-validate/), right? Regards

[2016-08-10 14:42] pusherman opened #151 "package.json has incorrect main attribute"
the main file in package.json is wrong so importing this library via webpack is not possible :(

[2016-08-10 14:46] cwilsn commented on #151
@jonsamwell could you also publish the latest version to NPM after this is merged?  The current published version is a bit behind.

[2016-08-31 12:59] destino92 opened #154 "angular-auto-validate with bower"
I am trying to install angular-auto-validate using bower but i run my grunt task i keep on getting errors,
grunt is not able to copy it from vendor/ directory to build/vendor any idea what is going on is it a dependency problem?

[2016-08-31 23:03] blakbarn opened #155 "Is there any way to display more than one error message?"
I am creating a custom password validator that checks for upper case, lower case. number, symbol, min and max. I would like to display all the errors at one time instead of the just the first error message. I was using ng-pattern with one regular expression and a big long error message displaying the password requirements. This causes the user to have to look at the requirements and decide what is

[2016-09-08 18:05] parker789 commented on #147
@samagit

Hey there,

Sorry for such a long delay; I hope you're not still stuck with this!  It actually ended up not being an issue with auto-validate.  I had `ng-submit-force="true"` still in my parent component's `<form>`, so none of my error validation was being checked. I pulled that out and everything worked flawlessly.

Hope it helps!

[2016-09-12 01:32] mikkelking commented on #151
Yes, please publish :)

[2016-09-13 13:05] rahul-sipl opened #156 "Validation not working with material md-select"
Hi,

I have made forms by angular material library and apply validation form "angular-auto-validate", it is working fine except to md-select list option. Can you please suggest me solution for this issue.

![validation-issue](https://cloud.githubusercontent.com/assets/18210683/18474678/dddc24de-79e0-11e6-9baa-397dd945534c.jpg)
![validation-view](https://cloud.githubusercontent.com/assets/18210683/

[2016-09-23 11:20] jayeshm66 opened #157 "After submit data remoove styling"
Hi
When i submit data after that styling of success is remains.

[2016-09-23 11:28] jonsamwell commented on #157
Reset the form

[2016-09-28 11:40] JaydroidBot opened #158 "Update npm registry"
Request for an update to package on npm registry which is currently version 1.19.0
https://www.npmjs.com/package/angular-auto-validate

[2016-09-29 04:42] criduvero opened #159 "conflict with sb-admin admin template"
I try to implelemnt in Angular SbAdmin template and it does not work, help me please.
https://github.com/start-angular/sb-admin-angular

It does the submit in $valid=false

[2016-09-29 05:03] jonsamwell commented on #159
@criduvero please provide a reproducible plunker so I can debug it.

[2016-09-29 05:04] #157 closed, assigned to nobody

[2016-09-29 16:20] abobwhite commented on #158
Yes, please! Thanks @jonsamwell for your work - we want to put that good work to use!

[2016-10-15 04:59] flyingdew opened #160 "Failed when using an angular expression in ng-pattern"
I am using an angular expression in ng-pattern, but it always failed.

[2016-10-17 13:40] osbeug001 commented on #71
Has this functionality been added yet? There is no mention of it in the latest released version.

[2016-12-07 03:14] criduvero opened #162 "min and max error description wrong i18n es-co"
jcs-auto-validate_es-co.json:
"min": "Ingrese un valor menor a {0}",
"max": "Ingrese un valor mayor a {0}",

It must be:
"min": "Ingrese un valor mayor o igual a {0}",
"max": "Ingrese un valor menor o igual a {0}",

I love your work. Thank for the support

[2017-01-05 01:43] laxman4434 opened #163 "Prevent validating ng-hide elements"
Hi,

I hide and show div's with elements on selecting a radio button.

The problem is when I click submit button, all the inputs are being validated(including the hidden inputs).

How doI prevent the form to validate the hidden inputs?

My Html is as follows :

`<form name="fdForm" ng-submit="OnSubmit()" novalidate>
            <div class="form-group">
                <div class="btn-group">

[2017-01-05 03:07] criduvero commented on #159
There must be an error with the template. All works but if I recharge the page, it fails.

[2017-01-05 03:07] #159 closed, assigned to nobody

[2017-01-23 11:08] vanchelo commented on #158
Please update npm package. Currently version 1.19.6.
Thanks!

[2017-01-25 10:09] IgoPeg opened #164 "Value {0} replace dont work when use myCustomErrorMessageResolver"
When i use the myCustomErrorMessageResolver that returns a promise
example:

.factory('myCustomErrorMessageResolver', [
    '$translate', function ($translate) {
      'use strict';
      return {
        resolve: function (errorType) {
          return $translate('FORMS.' + errorType);
// will return "Bitte eine Zahl von mindestens {0} eingeben."
        }
      };
    }
  ])

The {0} will not re

[2017-01-25 11:43] IgoPeg commented on #164
Solution:

         resolve: function (errorType, el) {

          var parameter = el.attr('ng-' + errorType);
          if (parameter === undefined) {
            parameter = el.attr('data-ng-' + errorType) || el.attr(errorType);
          }

          parameters.push(parameter || '');

          return $translate('FORMS.' + errorType).then(function (ms) {

            return ms.replace(/{(\d+)}/

[2017-01-25 11:43] #164 closed, assigned to nobody

[2017-02-02 18:00] dustin-page opened #165 "Passing a parameter from a Custom Validator directive to errorMessages doesn't work unless you make errorMessages dash-case."
It looks like the attribute on the input must match with dash-case for the "errorMessages" in the Error Message Resolver. Angular-auto-validate doesn't convert it to camel case even though the example for the "Error Message Resolver" documentation on the angular-auto-validate website shows it this way.

Using dash-case as the key for the "errorMessages" allows the value of "2" to be included where

[2017-02-24 14:11] dryaner opened #166 "cannot validate ng-form or sections in a form"
I have a form divided in several tabs with fieldset. Before change to the next tab I want to validate the fieldset of the curret tab. For that I'm trying to use the ng-form directive and the function validateForm with a function like this one

`$scope.validateNext = function (fieldset, nextTab) {
        if(validationManager.validateForm(document.querySelector('[name='+fieldset+']'))){

[2017-03-05 21:28] Vishal1419 opened #167 "Show server side errors using this package"
This is not actually an issue.

Is there any way that this package can validate server side errors.
If yes then please provide details.
If no then please provide the ways for displaying server side errors when using this package.

Please take a look at this stackoverflow question:

http://stackoverflow.com/questions/42614216/how-to-show-validation-errors-thrown-by-node-server-in-angularjs

[2017-03-07 20:20] #167 closed, assigned to nobody

[2017-03-09 04:46] cmayankc commented on #58
@mgsstms were you able to solve it?

[2017-03-09 06:35] mgsstms commented on #58
I updated template for timepicker template ('form-group' class has been removed for 'meridian' button)

[2017-04-05 11:15] txomin55 opened #168 "Validate when state redirection"
Hi, first of all thanks for the awesome job you've done!!! Well, i'm trying to develop a validation on a form where all required data is in one tab. If I press the "save" button on that tab, it works properly, but if i try to save the form from the second tab, it doesn't work fine.

When "save" is pressed it redirects to first tab always, so you can check the required fields. I have a working plun

[2017-04-09 09:01] ohnooo opened #169 "custom error message (help)"
First I want to thank you for this awesome module....  I having some trouble setting up custom error messages through defaultErrorMessageResolver.

I have gone through the documentation on creating customErrorMessageResolver but I was wondering if there is a simpler way.....

I am currently using Spring which already has i18 message resolver so I do not need set the culture.

**Questions:**
In the

[2017-04-19 09:06] ohnooo commented on #82
I get ..

formController.autoValidateFormOptions.resetForm(); is not a function error

This is my error code

[code]

[2017-05-08 19:00] anushamedicharla opened #170 "auto validate for other plugins"
Hello! I am using third party plugins like ui-tinymce and multiselect dropdown ( http://dotansimha.github.io/angularjs-dropdown-multiselect/docs/#/main) for one of my projects and I am unable to figure out how to add validation for these using autovalidate .... I would want to use the validations for either onSubmit or onBlur events for these plugins. For the multiselect, the plugin works for onSu

[2017-05-30 17:55] ghost opened #171 "autovalidate intefering with ngRequired directive"
When using ngRequired directive with value like :
`<input type="text" required="isRequired">`

when setting the value of isRequired to false still reports the field as invalid

[2017-08-24 21:02] abobwhite commented on #158
For those that see this, you can use the latest tag via this line in your `package.json`:

`"angular-auto-validate": "jonsamwell/angular-auto-validate#v1.19.6"`

[2017-09-08 15:52] crhistianramirez opened #172 "request/potential bug: allow validation when on $touched instead of on $dirty"
currently only validates when input is $dirty (after user types something in and leaves input)

Would be nice if it would validate when a user touched a required input, left it blank, and moved to another input

I tried creating a custom directive to set any $touched input to $dirty but there seems to be a bug where it only succeeds if that is set in the first ~2 seconds. Not sure if this is a bug

[2017-09-08 19:11] crhistianramirez commented on #172
Here's a work-around I came up with. a bit hacky but it does the trick. We use underscore and have full jquery but I'm sure if anyone needs this they can figure out how to edit it to work for them.

[code]

[2017-10-16 18:38] dustin-page commented on #165
Issue is on line 814:
`parameter = el.attr('data-ng-' + errorType) || el.attr(errorType);`

If errorType is not snake case then jQuerys .attr method will not be able to find the attribute.

[2018-01-05 07:35] saheel-ahmed opened #173 "Can we use this for Angular5"

[2018-01-05 07:39] saheel-ahmed commented on #173
I have used this module in AngularJS and it works awesome and I have used more than 10 projects.

I have now requirement for Angular5 implementation so I was think to use this module. What is the best way to use it?  Alternatively I'm thinking to go ng2-validation package. But I love this module.

[2018-01-09 01:58] jonsamwell commented on #173
@saheel-ahmed I haven't got around to porting this to angular 5 yet.  However, it is pretty easy to do with a directive and using the mat-error element from angular material.  Basic code is below.  If I get some time I might try and port this over.  Contribution are welcome!

[code]

You would then use it like this:

[code]

I hope this helps

Thanks,

Jon

[2018-01-09 07:53] saheel-ahmed commented on #173
Awesome 👍

Thank you, Jon. As I was using Bootstrap 4 with Angular 5, and this "inputValidationDecorator " concept should work.

[2018-03-20 01:53] martinib77 commented on #26
I'm having the same requirement as @abobwhite, but i wish it could be done as a global event or preference defined on the config part of the directive. A function to be called when the validation fails. That way i can use that logic in several places.
Is that possible ?

[2018-10-09 14:13] gconey commented on #173
Hi,
Inspired by your AngularJS version and using the above code as a starting point I've created an Angular autoValidateForm directive that can be used on any form and handles validation of the controls on the form. No need for anything on the controls themselves. Just add autoValidateForm to the form.
It seems to be working well but is not yet thoroughly tested.  This could be a starting point fo

[2018-11-06 10:20] gconey commented on #173
Inspired by your AngularJS version and using the above code as a starting point I created an couple of Angular directives that work well together to standardise and simplify form validation. They are built to work in the ASP.NET Zero Framework but could easily be adapted for general use. You'd need to implement the localizationservice yourself as it is something that's built into the framework.
Se

[2019-12-30 14:52] crhistianramirez commented on #151
Workaround:

[code]